.THIS .slds-card__header{
	z-index: 50;
    height: 54px;
    right:0.75rem;
    left:0.75rem;
    background: rgb(243, 242, 242);
    border-bottom: solid 1px lightgray;
}

.THIS .cq-form {
    margin-top: 3.5rem;
}