.THIS .edge-link{
    width: 3rem;
    height: 3rem;
}

.THIS .edge-link  svg {
    pointer-events: none;
}

.THIS .cq-badge .slds-badge {
    text-overflow: ellipsis;
    max-width: 200px;
    display: inline-block;
    overflow: hidden;
    max-height: 1.75rem;
}

.THIS .cq-badge {white-space:normal; line-height: 1.55rem;}

.THIS .cq-header-link {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    margin-right: 5px;
    max-width: 100%;
}