.THIS .cq-nospace {
    margin-left: -2px !important;
}
.THIS .cq-less-margin {padding: 0.5rem;}
.THIS .cq-white-background {background: white;}
.THIS .cq-items-container-no-margin {margin-top: -16px !important}
.THIS .cq-feed-wrap { white-space: normal; word-break: break-all; display:inline-block; }
.THIS .cq-no-padding-right { padding-right: 0 !important }
.THIS .cq-vertical-align_middle { vertical-align: middle !important; }
.THIS .cq-selected-button { background-color: grey; color: rgb(217, 219, 221) !important; cursor: default !important; padding: 0 .25rem; border-radius: .25rem !important; }
.THIS .cq-module-badge {
    display : inline-block;
    background-size: contain !important;
    vertical-align: middle;
}

@media all and (min-width: 48em) {
    
    .THIS .cq-float_right--md_ld{
        float: right;
    }

    .THIS .cq-align_right--md_ld{
        text-align: right;
    }
  
}