.THIS .binder-tree li{
    padding-left : 0;
    margin-left: 1.5rem;
}

.THIS .binder-tree > li{
    margin-left:0;
}

.THIS .binder-tree {
    padding-left: 0;
    padding-left: 0;
}

.THIS .binder-tree .slds-tree__item { padding-left : 0 !important;}

.THIS .cq-cursor--auto { cursor : auto;}
