.cq-slds-required {display : none;}

.slds-scope .readmode.formItem .formLabel.slds-form-element__label, 
.slds-scope .editmode.formItem .formLabel.slds-form-element__label {
    text-align: inherit;
    font-weight: inherit;
    display: inherit;
    float: inherit;
    width: inherit;
    max-width: inherit;
    min-width: inherit;
}

.slds-scope .readmode.formItem .formField.slds-form-element__control,
.slds-scope .editmode.formItem .formField.slds-form-element__control {
    display: inherit;
    float: inherit;
    width: inherit;
}

.slds-scope .section1col .k-combobox, .slds-scope .section1col .k-dropdown {
    width: 75%;
    background: white;
    height: 2rem;
}

.slds-scope .formItem:hover { background-color: transparent !important; }

.slds-scope .cq-slds-required { display: inline; }
.slds-scope .cq-field-required, .slds-scope .cq-field-not-required {
    border-left: inherit;
    padding-left: inherit;
}

.slds-scope .cqSectionContent .formItem .k-invalid-msg {
    margin-left: 0px;
    margin-bottom: 0px;
    color: #c23934;
    background: transparent;
    border: none;
    box-shadow: none;
}

.slds-scope .slds-page-header__row { display: flex; }

.slds-scope .slds-page-header__col-title { -webkit-box-flex: 1; -ms-flex: 1 1 0%; flex: 1 1 0%; }

.slds-scope .cqSectionContent .formItem .k-invalid-msg .k-icon { display: none; }

.cq-fixed-header {left: 0; top: 0; right: 0; z-index: 999;}

.slds-scope .slds-page-header.cq-fixed-header { border-radius: 0; }

.slds-scope .slds-col.cq-top-margin { margin-top: 55px; }

.slds-scope .cq-invalid-input .k-combobox-wrap,.slds-scope .cq-invalid-input .k-dropdown-wrap, .slds-scope .k-invalid { border: solid 2px #c23934 !important; }

.slds-scope .k-invalid-msg { font-size: 0.75rem; background: transparent;}

.slds-scope .k-dropdown-wrap {
    background: white;
    height: 2rem;
    padding: 0.2rem;
}

.slds-scope .k-dropdown {
    height: 2rem;
}

.slds-scope .k-icon.k-i-arrow-s {
    background-image: url(/apexpages/slds/latest/assets/icons/utility/down_60.png);
    background-position: center;
    margin-top: 0.5rem;
    background-size: contain;
}

.slds-scope .k-combobox span.k-icon.k-i-arrow-s {
    background-image: url(/apexpages/slds/latest/assets/icons/utility/search_60.png);
}

.slds-scope .k-combobox .k-select {
    border-left: 0;
}

.slds-scope .k-list-container { background: white;}

.slds-scope .cq-wo.slds-input {width: 75%;}

.slds-scope .cq-number .k-input { height: 1.85rem; }
.slds-scope .cq-number .k-numeric-wrap { height: 2rem; }
.slds-scope .cq-number span.k-icon.k-i-arrow-n {
    background-image: url(/apexpages/slds/latest/assets/icons/utility/up_60.png);
    background-position: center;
    background-size: contain;
}
.slds-scope .cq-number .k-select .k-link { height: 1rem; }
.slds-scope .cq-number span.k-icon.k-i-arrow-s {
    background-image: url(/apexpages/slds/latest/assets/icons/utility/down_60.png);
    background-position: center;
    background-size: contain;
    margin-top: 4px;
}

.slds-scope .cq-number .k-select {background-color: white; }

.slds-scope .cq-date .k-input { height: 1.90rem; }
.slds-scope .cq-date .k-picker-wrap { height: 2rem;}
.slds-scope .cq-date span.k-icon.k-i-calendar {
    background-image: url(/apexpages/slds/latest/assets/icons/utility/monthlyview_60.png);
    background-position: center;
    background-size: contain;
    margin-top:0.5rem;
}
.slds-scope .cq-date .k-select {background-color: white; }

.slds-scope .slds-notify_container.cq-notify-container {z-index: 120;}

.slds-scope .slds-notify_container.cq-notify-container .msg {display: block;}

.slds-scope .k-calendar .k-content { margin-left: 5px; }

.slds-scope .cq-boolean { width: 3rem; }

html.cq-slds {background: rgba(176, 196, 223, 1.0);}

.slds-scope .cqSectionContent .readmode.formItem .formLabel.tall { margin-top: 0px;}

.slds-scope.cq-aloha .slds-page-header {
    position: inherit;
}

.slds-scope.cq-aloha .cq-top-margin {
    margin-top: 1rem;
}

.slds-scope.cq-aloha .slds-notify_container.cq-notify-container {z-index: 0;}

.slds-scope .formField.slds-form-element__control > .readonlyElement { border-left: none; padding-left: 0;}

.slds-scope .formField.slds-form-element__control.tall > .readonlyElement { border-left: solid 1px #ececec; padding-left: 2px;}

.cq-list-heading { font-size: 0.9rem;}
.cq-list-label { font-weight: bold; margin-right: 5px; }