html {
    overflow-y: scroll;
    font-size:16px;/*needed to scale 75% that SF applies*/
    font-family:Arial,Helvetica,sans-serif;
}

body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cqRecordIdentifier span{font-size:12px;}
.cqRecordIdentifier h1{display:block;}
body {
    background-color: #F8F8F8;
    color: #555;
}

img {
    border: 0;
}

li > a {
    text-decoration: none;
}

a {
    color: #0487c4;
}

    a:hover {
        text-decoration: underline;
    }

    a:focus {
        border: solid 1px gold;
    }


/* Retina Support */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
}


.cq-grid-custom-toolbar {
    /*margin-right: 25px;*/
    display: inline-block;
    width: 220px; /* keep in sync with label size to get all Add buttons to align*/
}

    .cq-grid-custom-toolbar > img.showListButton {
        width: 11px;
        height: 11px;
        margin-right: 3px;
        background: transparent url('Silver/twisty_sprite.png') 0 0 no-repeat;
    }

    .cq-grid-custom-toolbar > img.hideListButton {
        width: 11px;
        height: 11px;
        margin-right: 3px;
        background: transparent url('Silver/twisty_sprite.png') 0 -11px no-repeat;
    }

span.cq-grid-toolbar-command {
    margin-left: 2px;
}

a.cq-gridCollapse {
    margin-right: 10px;
}

span.cq-toolBarTitle {
    font-size: 12px;
    font-weight: bold;
}

span.cq-toolbarCount {
    margin-left: 3px;
}

.cq-grid-row-button-hidden {
    display: none;
}

.cq-grid-row-button + .cq-grid-row-button::before {
    content: " | ";
}

.cq-topGrid {
    margin-top: 5px;
    margin-bottom: 3px;
    border-top: 2px solid #76b6ec;
}

.cq-topGrid .formItem {
    width: 98%;
}

.cq-topGrid .cq-multi-line-textarea {
    width: 95%;
}

tr.k-state-selected a {
    color: #fff;
}

tr.k-state-selected td {
    overflow-wrap: break-word;
}

tr.k-alt {
    background-color: rgba(185, 236, 218, 0.3);
}

.cq-boolean-checked, .cq-boolean-unchecked {
    background-color: white;
    width: 21px;
    height: 16px;
    background-repeat: no-repeat;
}

.cq-boolean-checked {
    background-image: url('Silver/checkbox_checked.gif');
    background-color: transparent;
    width: 21px;
    display: inline-block;
    height: 16px;
}

.cq-boolean-unchecked {
    background-image: url('Silver/checkbox_unchecked.gif');
    background-color: transparent;
    width: 21px;
    display: inline-block;
    height: 16px;
}

.cq-field-required {
    border-left: solid 2px red;
    padding-left: 2px;
}

.cq-field-not-required {
    border-left: solid 2px transparent;
    padding-left: 2px;
}

.cq-richtext-edit-field {
    min-height: 250px;
    padding-left: 2px;
}

.cq-multi-line-textarea {
    min-height: 54px; /* In line with SQX-709 showing 4 lines using rows attributes, for cq composite widgets, for any other field this min height should take care.*/
    border: solid 1px #ccc;
    border-radius: 3px;
    padding-left: 2px;
    font-family: inherit;
}

.readonlyElement {
    border-left: solid 3px transparent;
    padding-left: 2px;
    min-height: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.inlineEditable:hover {
    background-image: url('/img/func_icons/util/pencil12.gif');
    background-size: 12px 12px;
    background-position: center right;
    background-repeat: no-repeat;
}

.tall > .inlineEditable:hover {
    background-position: 98% center;
    /* @alternate */background-position: calc(100% - 20px) center;
}

.inlineundo, .inlineundo:hover {
    display: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background-image: url('/img/func_icons/util/ileUndo16.gif');
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

    .inlineundo:focus {
        border: solid 1px gold;
    }

.changed {
    color: rgb(255, 153, 0);
    font-weight: bold;
    font-size: 1.1em;
}

    .changed a {
        color: rgb(255, 153, 0);
    }

.cq-default-input {
    border: solid 1px #ccc;
    border-radius: 3px;
    width: 100%;
    /* @alternate */width: calc(100% - 5px);
    height: 25px;
    padding-left: 2px;
}

.k-edit-form-container .k-edit-buttons {
    clear: both;
    text-align: right;
    border-width: 1px 0 0;
    margin: 5px;
    border-style: solid;
    position: relative;
    bottom: -1em;
    padding: .6em;
}

.cq-richtext-edit-field {
    height: 250px;
}

div.cqHeaderBlock {
    border-style: solid;
    border-color: #A0AAB2;
    border-radius: 5px;
    border-left: solid 1px #A0AAB2;
    border-top: solid 1px #A0AAB2;
    background-color: #F9FAF8;
    margin-top: 2px;
    margin-left: 2px;
}


.cqMainTab {
    margin-top: 12px;
    border-style: none;
    background-color: #F9FAF8;
}

.cqSectionHeader {
    clear: both;
    border-top: 2px solid #76b6ec;
    position: relative;
    top: 5px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

    .cqSectionHeader > img.showListButton {
        width: 11px;
        height: 11px;
        margin-right: 3px;
        background: transparent url('Silver/twisty_sprite.png') 0 0 no-repeat;
    }

    .cqSectionHeader > img.hideListButton {
        width: 11px;
        height: 11px;
        margin-right: 3px;
        background: transparent url('Silver/twisty_sprite.png') 0 -11px no-repeat;
    }

.cqRecordIdentifier {
    padding-left: 35px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
    background-image: url('Silver/flag32.png');
    background-repeat: no-repeat;
    min-height: 36px;
}

.cqFlowIndicator {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 120px;
    margin-right: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

div.cqFlowIndicator > table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td.cqFlowStep {
    font-size: 11px;
    text-align: left;
    padding-right: 10px;
}

    td.cqFlowStep.top {
        border-bottom: 2px solid #09579A;
        vertical-align: bottom;
        height: 14px;
    }

    td.cqFlowStep.bottom {
        border-top: 2px solid #09579A;
        vertical-align: top;
        height: 14px;
    }

    td.cqFlowStep.top.empty {
        border-bottom: none;
    }

    td.cqFlowStep.top.TBD {
        border-color: silver;
        color: silver;
    }

    td.cqFlowStep.bottom.TBD {
        border-top: 2px solid silver;
        color: silver;
    }

    td.cqFlowStep.complete {
        background-image: url('Silver/checkbox_checked.gif');
        background-repeat: no-repeat;
        padding-left: 20px;
    }

    td.cqFlowStep.active {
        border-bottom-color: #009CD0;
        border-top-color: #009CD0;
        background-image: url('Silver/marker-k-small.png');
        background-repeat: no-repeat;
        padding-left: 20px;
    }

    td.cqFlowStep.top.complete, td.cqFlowStep.top.active{
        background-position: bottom left;
    }

    td.cqFlowStep.bottom.complete, td.cqFlowStep.bottom.active{
        background-position: top left;
    }

    td.cqFlowStep.last {
        background-image: none !important;
        text-align: right;
        padding-right: 0px;
    }

    
    td.cqFlowStep.last > .icon {
        display: inline-block;
        position: relative;
        top: 4px;
    }

    td.cqFlowStep.last > .text {
        display: inline-block;
    }

        

    td.cqFlowStep.complete > .icon {
        background-image: url('Silver/checkbox_checked.gif');
    }

    td.cqFlowStep.active {
        border-bottom-color: #009CD0;
    }

    td.cqFlowStep.active > .icon {
        background-image: url('Silver/marker-k-small.png');
    }

    td.cqFlowStep > .icon {
        background-repeat: no-repeat;
        background-position: bottom left;
        width: 20px;
        height: 21px;
        display: inline-block;
    }

    td.cqFlowStep.first {
        text-align: left;
    }

.cqCommandButton {
    min-width: 150px;
    border-radius: 3px;
    min-height: 32px;
    font-weight: bold;
}
.cqCommandButton[data-action]{
    background-color: #32CDCD;
}

#loadingBlock {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    z-index: 99999;
    background-color: white;
    opacity: 0.7;
}

.sqx-attachment-delete > span {
    background-image: url('styles/Bootstrap/sprite.png');
    border-color: transparent;
    background-position: -32px -16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
}

.colorBoxRiskLevel {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 5px;
    background-color: #FFFFFF;
    position: relative;
    left: 185px;
    top: -24px;
    z-index: 0;
    margin-bottom: -14px;
}

.k-required-field {
    background-color: red;
    display: inline;
    margin-left: -5px;
    color: red;
}

    .k-required-field:before {
        content: '\00a0';
    }
/*.k-dropdown-wrap, .k-picker-wrap{height:28px;}*/
.k-grid-content {
    position: initial;
}
/* added because a scroll bar was showing up because of this*/
/*.k-edit-form-container {width: 640px;}*/

/*width:150px*/
.k-edit-field.k-edit-form-container.editor-field {
    width: auto;
}
/*                .k-alt {background-color: #6CBEA1;}*/
/*                .k-widget.k-tabstrip{background-color: white;}*/
.section1col {
    padding: 5px;
}

.bigTextBox {
    width: 95%;
    height: 200px;
}

.k-invalid-msg {
    position: relative;
}

.topCommandSection, .bottomCommandSection {
    padding-top: 10px;
}

.clearFix {
    clear: both;
}

.cqRecordHeader .formItem {
    margin-top: 0px;
    margin-bottom: 0px;
}

.formItem {
    float: left;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 2px;
}

    .formItem .formLabel {
        width: 150px;
        float: left;
        margin-right: 15px;
        text-align: right;
        font-weight:bold;
        font-size:90%;
    }

    .formItem .formHeader {
        float: left;
        font-weight: bold;
        font-size: 1.2em;
    }

    .formItem .formField {
        overflow: auto;
    }

.cqRecordHeader .formLabel {
    font-weight: bold;
}
/*.formItem .formField {overflow:auto;}*/

.section1col .formItem {
    width: 100%;
}

.section1col .formLabel {
    width: 150px;
    float: left;
}

.section1col .cq-default-input {
    width: 98%;
    /* @alternate */width: calc(100% - 15px);
}

.section1col .cq-multi-line-textarea {
    width: 98%;
    /* @alternate */width: calc(100% - 15px);
}

.section1col .k-dropdown {
    width: 40%;
    height:28px;
}

.section1col .k-combobox {
    width: 40%;
    height:28px;
}

.section1col .k-numeric-wrap {
    height: 28px;
    width: 200px;
}

.section1col input[type=checkbox] {
    width: 15px;
}

.section1col .formItem {
    clear: left;
}

.section1col .k-combobox {
    width: 40%;
}

.section2col {
    padding: 5px;
}

    .section2col .k-datepicker {
        width: 33%;
    }

    .section2col .formItem {
        width: 50%;
    }

    .section2col .k-dropdown, .section2col .k-combobox {
        width: 100%; 
        /* @alternate */width: calc(100% - 2px);
    }
    
    .section2col .cq-wo[role="listbox"] {
        max-width: calc(100% - 170px);
        min-width: 345px;
    }

    .section2col .formItem:nth-child(odd) {
        clear: left;
    }

    .section2col textarea {
        width: calc(100% - 5px);
    }

.section3col {
    padding: 5px; /*border-bottom:solid 1px #898989; */
}

    .section3col .formItem {
        width: 33%;
    }

    .section3col .k-dropdown, .section3col .k-combobox {
        width: 100%;
        /* @alternate */width: calc(100% - 2px);
    }
    
    .section3col .cq-wo[role="listbox"] {
        max-width: calc(100% - 170px);
        min-width: 170px;
    }

    .section3col .formItem:nth-child(3n+1) {
        clear: left;
    }

    .section3col .formItem.span2col {
        width :66%;
    }
    
.section4col {
    padding: 5px;
}

    .section4col .formItem {
        width: 25%;
    }

iframe.attachmentUploader {
    border: none;
    width: 300px;
    height: 145px;
    overflow: hidden;
}

.helptext {
    background-position: 0 0;
    background-image: url(Default/helpOrbs.gif);
    width: 20px;
    height: 15px;
    float: right;
    margin-right: 2px;
    position: relative;
    left: 18px;
    margin-left: -18px;
}

    .helptext:hover {
        background-position: 20px 0;
    }

.k-tabstrip-items .k-state-active {
    border-color: #4492fc;
    background-color: #CEDDEF;
}

.k-tabstrip .k-content.k-state-active {
    border-color: #4492fc;
    background-color: #F9FAF8;
    border-radius: 5px;
    border-top-left-radius: 0px;
}

.formField p {
    padding: 2px;
    margin: 0;
}

.tall.formField > .readonlyElement {
    min-height: 60px !important;
    overflow-y: scroll !important;
    border: solid 1px #ececec;
    padding-left: 4px;
}

.tall.formField > .editableElement {
    min-height: 60px !important;
}

.highlighted {
    background-color: beige;
}

.formItem:hover {
    background-color: aliceblue !important;
}

.k-editable-area iframe {
    width: 96% !important;
}

.k-icon.k-i-arrow-s.k-panelbar-expand {
    left: 0px;
    top: 9px;
}

.k-icon.k-i-arrow-n.k-panelbar-collapse {
    left: 0px;
    top: 9px;
}

.k-link.k-state-selected.k-header, .k-link.k-header {
    padding-left: 20px !important;
}

.errorStyle {
    position: relative;
    background-color: #fff4c9; /*rgb(245, 241, 152);*/
    color: #263248;
    min-height: 30px;
    max-height: 100px; 
    display: none;
    text-align: center;
    padding: 5px;
    line-height: 1em;
    font-weight: bold;
    border: 1px solid #ffe79e;
    border-radius: 4px;
    margin-bottom: 3px;
    cursor: default;
    overflow-y: auto;
}

.approvalRemarkItem {
    width: 100%;
    height: 1.25em;
    resize: none;
    overflow: hidden;
}

    .approvalRemarkItem:focus {
        height: 3em;
        overflow: auto;
    }

.approve {
    background-color: #32CDCD;
}

.reject {
    background-color: #F17373;
}

.partiallyApprove{
    background-color: #CDAC32;
}


.kiui-rating {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: default;
  display: inline-block;
}

.kiui-rating li {
  margin: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

.kiui-rating.kiui-state-readonly li {
  cursor: default;
}

.kiui-rating li.kiui-rating-star-full:after {
    content: "\2605";
    font-family: Arial;
    font-size: 16px;
    color: orange;
}

.kiui-rating li.kiui-rating-star-empty:after {
    content: "\2606";
    font-family: Arial;
    font-size: 16px;
    color: gray;
}

/*@media all and (max-width:350px) and (min-width: 0px){
    .formLabel { text-align: left !important;}
}
@media all and (max-width:1000px) and (min-width: 300px){
    .section3col .formItem {width : 50% !important;}
}
@media all and (max-width:650px){
    .section3col .formLabel { text-align: left !important;}
}*/

/**Approval Styles**/

.cq-approval {font-size: 0.9em;}
.cq-approval>div{display: inline-block;}
.cq-approval>.status { font-weight:  bold;}
.cq-approval>.approver:before {content: '\00a0-\00a0'}
.cq-approval>.approver:after {content: '\00a0-\00a0'}
.cq-approval>.remark {font-style: italic;}

.hide{ visibility: hidden}

/**Improvement to Grid popup styles as requested in SQX-659 AC 5*/
.k-edit-form-container .k-edit-field {width : 74%;}
.k-edit-form-container .k-edit-label {width : 20%;}
.k-edit-form-container {width: 700px;}
.k-edit-field .formItem {width: 100%;}
.k-edit-field .cq-multi-line-textarea {width: 98%;}

.k-edit-field .k-autocomplete, 
.k-edit-field .k-combobox,
.k-edit-field .k-datepicker,
.k-edit-field .k-timepicker,
.k-edit-field .k-datetimepicker,
.k-edit-field .k-colorpicker,
.k-edit-field .k-numerictextbox,
.k-edit-field .k-dropdown,
.k-edit-field .k-selectbox,
.k-edit-field .k-textbox {width: 50%;}

.formField > .editableElement { padding-bottom:1px; padding-top: 1px; } /*SQX-652 bug fix*/

/** new form field rules ***/

.cqSectionContent  .editmode.formItem { display: block; overflow: visible;}
.cqSectionContent .editmode.formItem  .formLabel {display: table-cell; vertical-align: middle; float: none; padding-right:15px; max-width: 150px; min-width: 150px;}
.cqSectionContent .editmode.formItem  .formField {display: table-cell; float: none; padding-right:5px; width: 100%;}
.cqSectionContent .formItem .k-invalid-msg {margin-left:165px; margin-bottom: 4px;}
.cqSectionContent .readmode.formItem  .formLabel {display: table-cell; vertical-align: middle; float: none; padding-right:15px; max-width: 150px; min-width: 150px;}
.cqSectionContent .readmode.formItem  .formField {display: table-cell; float: none; padding-right:5px; padding-top:5px; width: 100%;}


/* .k-edit-form-container .editmode.formItem {display: block !important;}
.k-edit-form-container .formLabel  {display: block; float: left; }
.k-edit-form-container .formField {display: block; width: auto; float:left;}

.k-edit-form-container > .k-edit-label {padding-top: 0.9em;}
.editmode > .formLabel { padding-top: 0.9em;}
.formLabel.tall { padding-top: 2.5em;}
.k-edit-field > .formItem {padding-top: -0.9em;}
.k-edit-form-container > .k-edit-field {padding-top: 0.9em;}
.k-edit-form-container > .k-edit-label {padding-top: 0.9em;} */

.cqSectionContent .readmode.formItem  .formLabel.tall {margin-top: 25px;}

.k-edit-form-container .k-edit-label {padding-top: 0.9em;}
.k-edit-form-container .k-edit-field.tmpl-field {padding-top: 0.9em;}
.k-edit-form-container .formItem {margin-top: -0.5em;}
.k-edit-form-container .formItem .readonlyElement {padding-top: 0.7em;}

.questionAnswerBorder{
    border: 2px solid #a1a1a1;
    padding: 10px 10px;         
}
.k-button.k-button-icontext {
    width: 20%;
    height: 2.5em;
}

.dropdown-combo {
  border-bottom: 1px solid black;
}

.dropdown-combo > span {      
  text-align: left;
  display: inline-block;
  padding: .3em .6em;
  width: 70%;
}

.dropdown-combo > span:first-child {
  width: 70%;
  
}  

.k-window .formItem { 
    margin: 0.25em 0;}
    
.changeownerlink{
  margin-left: 3%;
  color: black;
}

/* anything with tablet size screen will have resolution of more than 1024px x 768px */
@media
only screen and (max-width: 767px) {

    #checkMobile{display: none;}

    .cqFlowIndicator{ display: none;} 

    .section3col>.formItem{ width: 100% !important;}

    .section2col>.formItem{ width: 100% !important;}                   

    .section2col{ padding: 0px;} 

    .cqFormSection.k-content>.formItem {width: 100% !important;}               

    .section1col>.formItem{ width: 100%  !important;}

    .listDef { width: 30%; float:left; }
    .listValue { width: auto; float: left; clear:right; max-width: 70%;}
    .listRow { clear: both; }
    .listItem { clear: both; overflow: auto;}
    .listItem.cqHeaderBlock {
        border-radius: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
        border: solid 1px #a0aab2;
        margin-right: 2px;
        padding: 5px 15px;
        line-height: 1.5em;
    }
    .cq-list-detail-template {clear: both;
        text-align: center;
        font-weight: bold;
    }
    .k-window-content.k-content .cqSectionContent .editmode.formItem .formField {
    display: block;
    width: 100%;
    }
    .k-window-content.k-content .cqSectionContent .editmode.formItem .formLabel {
    /* display: table-cell; */

    display: inline-flex;
    }
    .k-window-content.k-content .cqSectionContent .formItem>.formField {
    display: block;
    width: 100%;
    }
    .k-window-content.k-content .cqSectionContent .formItem>.formLabel {
    /* display: table-cell; */

    display: inline-flex;
    }
}

.k-window-content .cqCommandButton {
  margin: 0 2px;
}

.k-edit-form-container.cq-large-grid { width: 1024px;}

.cqSectionContent .formItem .password .k-invalid-msg {margin-left: 5px}
.cqSectionContent .formItem .username .k-invalid-msg {margin-left: 5px}
.k-window .cqSectionContent .formItem.cq-bounded-comment .k-invalid-msg {margin-bottom: 4px; margin-left: 165px}
.k-window .cqSectionContent .formItem.cq-comment .k-invalid-msg {margin-bottom: 4px; margin-left: 0px}
.hideTopBorder { border-top: none; }

.compositeFieldLink .editableElement .extra-info-template {
    float: right;
    margin-right: 45%;
    margin-top: 4px;
}
.compositeFieldLink .readonlyElement div{
    display: inline-block;
    margin-right: 10px;
} 
.compositeFieldLink .readonlyElement .extra-info-template {
    display: inline-block;
}


.cq-dtree-window {height: 400px;}
.commandSection {padding-left: 20px; padding-right: 20px; padding-top: 20px;}
.dtree-valid-answers {list-style: none; padding: 0px; margin-top: 10px}
.dtree-valid-answers li {line-height: 1.1em}
.dtree-ans-comment { font-size: 0.9em; padding-left: 20px;}
.dtree-ans-comment:before {content: '(';}
.dtree-ans-comment:after {content: ')';}
.formItem.no-highlight:hover {background-color:transparent !important;}
.dtree-conclusion {margin-top:5px;}
.dtree-prev-warning {clear:both; padding: 5px; color: red;}
.dtree-warning > .k-notification {clear:both; padding: 5px; text-align: center;}
.dtree-warning { margin-bottom: 15px;}
.dtree-conclusion-msg { font-size: 1em; font-weight: normal; padding-left:20px;}
.dtree-conclusion-msg.info { color: green;}
.dtree-conclusion-msg.warn { color: orange;}
.dtree-conclusion-msg.error { color: red;}
.dtree-final-cmd-sec {margin: 20px 0;}

.extraMargin{margin-top:15px;}
.loading-iframe, .loading-iframe:hover {background:url(/img/loading32.gif) center center no-repeat;}

.esigUsername {
    width: 60%;
    border: none;
    height: 1.2em;
    font-size: 1em;
    padding: 0;
    margin: 0;
}


.cq-file-upload { margin-top:0; }
.cq-combo-item { border-bottom: solid 1px #999;}

label.cq-tab-counter:after {
    content: ']';
}
label.cq-tab-counter:before {
    content: '[';
}
label.cq-tab-counter {
    padding-left: 5px;
}

a.actionLink.approveResponse.cqCommandButton.k-button.approve.textBlackBold {
    font-weight: bold;
    color: black;
}

div.loadingDiv {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

#autoSave {
    float: right;
    padding: 10px 5px 0px 0px;
    font-weight: bold;
}

.pbBody table.list td.actionColumn .actionLink{
    color : #015ba7!important;
}

.pbBody table.list tr.tertiaryPalette{
    background-color : #79b4cd!important;
}
/* File uploader */
.cq-file-field .cq-commands > a { margin: auto 2px; }
.cq-file-field .cq-mimetype { margin-left: 4px;}
.cq-file-field .cq-filename { font-weight: bolder; }
.cq-file-field .cq-detail {
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}
.cq-file-field.no-thumbnail  > .cq-image{
    width: 100%;
    height: 90px;
    content: 'Image not ready';
    background-image: url('Silver/imagebrowser.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -200px;
}

.cq-file-field .cq-detail { display: none; }
.cq-file-field .cq-commands { display: none; }

.cq-image-preview .cq-container {
    max-width: 95%;
    min-width: 95%;
    max-height: 95%;
    overflow: hidden;
    border: solid 1px black;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.cq-image img {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.cq-input-required { border-left:solid 2px red;}


.cq-file-commands a {
    margin-right: 10px;
}

.k-grid .cq-file-field {
    text-align: center;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}

.k-grid .cq-image > img {
    max-width: 100%;
}

.k-grid .editableElement.cq-boolean{
    text-align: center;
}

.cq-print-mode-header { position: fixed; top: 0; text-align: center; background: rgba(0, 124, 0, 0.68); width: 100%; color: white; font-size: 1rem; z-index: 100000; padding: 10px; }
.cq-print-mode-header a { color: white !important; margin-left: 5px;}
.cq-print-mode div.commandSection,
.cq-print-mode a.k-grid-add,
.cq-print-mode td.pbButton,
.cq-print-mode .cq-grid-row-button,
.cq-print-mode .actionColumn,
.cq-print-mode span.k-icon,
.cq-print-mode .cq-grid-row-button,
.cq-print-mode .commandSection,
.cq-print-mode .pbButton,
.cq-print-mode .actionColumn,
.cq-print-mode .changeownerlink,
.cq-print-mode #voidLink,
.cq-print-mode .cqFlowIndicator,
.cq-print-mode .hideListButton,
.cq-print-mode #autoSave,
.cq-print-mode .cq-download-file,
.cq-print-mode .approveResponse,
.cq-print-mode .rejectResponse,
.cq-print-mode .cq-preview-file,
.cq-print-mode .cq-grid-toolbar-command{
       display: none;
}

.cq-print-mode .k-panelbar-collapse,
.cq-print-mode .k-panelbar-expand {
    display: block !important;
}

@media print{
    .cqMainTab {overflow: hidden;}
    .cq-print-mode-header {display: none;}
    .k-item[aria-expanded="false"] {display: none;}

    .cq-print-mode .k-panelbar-collapse,
    .cq-print-mode .k-panelbar-expand {
        display: none !important;
    }
    
    div.commandSection, a#printPage, a.k-grid-add, td.pbButton,img.cq-gridCollapse,
     a.k-icon.k-minus, .cq-grid-row-button, .actionColumn, span.k-icon, .cq-grid-row-button, .commandSection, .pbButton,
     .actionColumn, .changeownerlink, #loadingBlock, #voidLink, .cqFlowIndicator, .hideListButton, #autoSave{
       display: none !important;
    }

    .bodyDiv{
        box-shadow: none !important;
    }

    .cq-topGrid, .cqSectionHeader{
        border-color: #666;
        padding-left: 10px;
    }

    tr.k-alt{
        background-color: #f9f9f9;
    }

    .formItem:hover, .k-header:hover{
        background-color: transparent !important;
    }

    .k-tabstrip-items, .k-state-active, .k-state-selected, .bPageBlock.brandSecondaryBrd.secondaryPalette  {
        border: none !important;
        background-color: transparent;
    }

    .k-link.k-state-selected.k-header, .k-link.k-header {
        padding-left: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    .k-state-selected>.k-link, .k-panelbar>li>.k-state-selected, .k-panelbar>li.k-state-default>.k-link.k-state-selected {
        color: #515967;
    }

    .cqHeaderBlock{
        border: solid 1px #dbdbde !important;
        border-radius: 0px !important;
    }

    .cqSectionHeader>img.hideListButton {
        padding-top: 5px;
    }

    .tall.formField>.readonlyElement {
        min-height: 0px !important;
        overflow-y: hidden !important;
        border: none;
    }

    body{ 
        background-color: transparent !important; 
        font-size: 12px !important;
    }
    
    div#headerSection {
        background-color: white !important;
    }
    body .bRelatedList .pbTitle h3, body .bPageBlock .pbTitle h2, body .bPageBlock .pbTitle h3, body .bSubBlock h3.lbHeader {
        padding: 5px 0px 5px 5px;
        color: #515967;
        font-size: 12px;
    }
    .formItem .formLabel, .readonlyElement{
        font-size: 13px;
    }
    
    .k-panelbar .k-panel, .k-panelbar .k-content {
        padding-bottom: 5px;
    }
    .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar .k-item {
        padding-left: 10px;
    }
    span.cq-toolBarTitle {
        font-size: 14px !important;
    }

    body .pbBody table.list {
        width: 100%;
    }

    body .pbBody table.list tr.headerRow td, body .pbBody table.list tr.headerRow th {
        color: #515967;
        font-weight: bold;
        font-size: 13px !important;
    }
    body .pbBody table.list tr.last>th, body .pbBody table.list tr.last>td, .bPageBlock.bEditBlock .bRelatedList tr.dataRow.last>td, .bPageBlock.bEditBlock .bRelatedList tr.dataRow.last>th{
        color: #515967;
        font-size: 13px !important;
    }
    .pbBody, .pbBody a, .pbBody td, .lbBody a, .lbBodyDescription, .list .headerRow .noRowsHeader {
        color: #0487c4;
    }
    .cqMainTab .k-header {
        border: transparent;
    }

    .k-grid-header .k-header {
        font-weight: bold !important;
        font-size: 13px !important;
    }
    .k-grid td {
        color: #515967 !important;
        font-size: 13px !important;
    }
    .cqSectionHeader, .cq-topGrid {
        border-top: none !important;
    }
    .k-panelbar .k-content, .k-panelbar .k-panel, .k-panelbar .k-item {
        border-bottom: none !important;
    }

    .cq-topGrid *, .bPageBlock *, .cqFormSection *{
        border: none !important;
        background-color: white !important;
    }

    .k-panelbar>.k-item>.k-link { 
        background-color: white !important; 
        border-bottom: solid 1px !important;
        padding-left: 5px !important;
    }

    .cqRecordIdentifier {
        background-image: none !important;
    }

    .helptext {
        width: 0px !important;
    }
   
    #docThumbnailsSection {
        page-break-inside: avoid !important; 
    }

    .thbImage, .thbError {
        border: solid 1px black !important;
        margin: 0px 5px !important;
        max-height: 180px !important; 
    }
}