.cq-detail-noneditable .pbBottomButtons {
    visibility: hidden;
}
.cq-detail-noneditable .pbButton {
    visibility : hidden;
}
.cq-btn-approve {
    background-color:#32cdcd !important;
    background-image:none !important;
    min-width: 78px;
    min-height: 32px;
    font-weight: bold;
    font-size: 12px !important;
}
.cq-btn-approve:hover, .cq-btn-reject:hover {
    color: #263248 !important;
    border-color: #b6bdca !important;
    background-color: #b6bdca !important;
	background-image:none !important;
}
.cq-btn-reject {
    background-color:#f17373 !important;
    background-image:none !important;
    min-width: 78px;
    min-height: 32px;
    font-weight: bold;
    font-size: 12px !important;
}
.cq-btn-align-center {
    text-align : center;
}
.cq-hide {display: none;}

/* Loader styles */
.cq-loader-bkgnd {background-color: #fbfbfb;height:100%;opacity:0.8;width:100%;position:fixed;z-index:99999; top:0; left:0;}
.cq-loader {position: absolute; top: 50%; left: 50%;}
.cq-loader .cq-img {background: url('../../styles/Silver/loading32.gif'); width: 32px; height: 32px;}
.cq-loader .cq-msg {text-align: center; width: 400px; margin-left: -180px;}

.cq-required-line {
    display: inline;
    border: 1px solid #c00;
    padding-right: 1px;
    background-color: #c00;
}

.cq-link-btn {padding: 0 5px; }

.txt {
    font-weight: bold;
    padding: 0px 0px 5px 0px;
}
.centerAligned {
    text-align: center;
}

.cq-revision-history .docRevOption {
    font-weight: bold;
    padding: 0px 0px 5px 0px;
}
p.emptyList {
    border: 1px solid #e0e3e5;
    padding: 4px;
}