#msg {
    font: 1em arial, sans-serif;
    text-align : left; 
    min-height: 2em; 
    background-color : blanchedalmond; 
    padding : 1em; 
    margin : 1em 0; 
    border-radius : 1em;
}

#requiredErr {
    font: 1em arial, sans-serif;
    background-color : blanchedalmond;
    text-align : center;
    padding : 0.3em; 
}

p {
    text-align : left;
    min-height: 2em; 
    background-color : blanchedalmond; 
    padding : 1em;  
    border-radius : 1em;
}

td {
    padding-top: .3em;
    padding-bottom: 2em;
}
.boldText {
    font-weight: bold;
}

.errTable {
    border-collapse: collapse;
}

.tableHeader {
    border: 1px  solid black;
    font-weight: bold;
    text-align: center;
}

.tableData {
    border: 1px  solid black;
    padding: 5px 10px;
}