.THIS .cq-box{
    width: 300px;
    height: 150px;
    color: #c00;
}

.THIS .cq-file-container {
    max-width: 250px;
    overflow: hidden;
}

.THIS .cq-file-container .slds-file {
    max-width: 250px;
    overflow: hidden;
}