<apex:page standardController="SQX_CAPA__c">
            
    <div class="commandSection">
        <div id="errorDiv" class="errorStyle">
            <span class="k-icon k-warning"> </span> <span class="msg"></span>
        </div>
        <div style="text-align:center">
            <button type="button" 
                    id="btnPrevSection" 
                    class="cqCommandButton k-button" 
                    data-role="button" 
                    data-bind="visible:isNewObject,enabled:enablePrev,click:navigateTab">{!$Label.CQ_UI_Previous}</button>

            <button type="button" 
                    id="btnInitiate"
                    data-fn-ns="sqx.evtHdlr.capa"
                    data-cmd-buttons="[{name: 'save', text:'{!$Label.CQ_UI_Initiate}', defaultBtn: true, nextAction: 'initiate'}, 'cancel']"
                    class="cqCommandButton k-button cqActionButton"
                    data-cq-action="initiate"
                    data-execute-default-if-no-esig="true"
                    data-bind="visible:enableInitiate">{!$Label.CQ_UI_Initiate}</button>

            <button type="button" 
                    id="btnClose"
                    data-fn-ns="sqx.evtHdlr.closeCAPA"
                    data-template-id="closeCapaTemplate"
                    data-comment-field-bound-to="Capa.compliancequest__Closure_Comment__c"
                    data-cmd-buttons="[{name: 'save', text: '{!$Label.CQ_UI_Close}', nextAction : 'close'}, 'cancel']"
                    class="cqCommandButton k-button cqActionButton"
                    data-cq-action="close"
                    data-bind="visible:enableClose">{!$Label.CQ_UI_Close}</button>

            <button type="button" 
                    id="btnSave"
                    data-fn-ns="sqx.evtHdlr.capa"
                    data-cmd-buttons="[{name: 'save', text: '{!$Label.CQ_UI_Grid_Update}', defaultBtn: true, nextAction : 'save'}, 'cancel']"
                    class="cqCommandButton k-button cqActionButton"
                    data-cq-action="save"
                    data-execute-default-if-no-esig="true"
                    data-bind="visible:enableSave">{!$Label.CQ_UI_Grid_Update}</button>

            <button type="button" 
                    id="btnNextSection" 
                    class="cqCommandButton k-button" 
                    data-role="button" 
                    data-bind="visible:isNewObject,enabled:enableNext,click:navigateTab">{!$Label.CQ_UI_Next}</button>

            <button type="button" 
                    id="btnCancel" 
                    class="cqCommandButton k-button" 
                    data-role="button" 
                    onclick="cancelChanges(event)" 
                    data-bind="visible:enableCancel">{!$Label.CQ_UI_Button_Cancel}</button>

            <button type="button" 
                    id="btnEdit" 
                    class="cqCommandButton k-button" 
                    data-role="button" 
                    onclick="renderPageToEditMode(event)" 
                    data-bind="visible:enableEdit">{!$Label.CQ_UI_Grid_Edit}</button>

            <button type="button" 
                    id="btnRespond" 
                    class="cqCommandButton k-button" 
                    data-role="button" 
                    onclick="respond()" 
                    data-bind="visible:enableResponse">{!$Label.CQ_UI_Respond}</button>
        </div>
    </div>
</apex:page>