<apex:page standardController="SQX_Complaint__c">
        
    <apex:variable var="PageSize" value="{!IF((JSENCODE($CurrentPage.parameters.printMode))=='true', 200, 5)}"/> 
    
    <div style="text-align:right;">
        <a href= "{!URLFOR($Page.SQX_Complaint_Main, null, [id=SQX_Complaint__c.Id, printMode='true'])}" id="printPage" data-bind="invisible: isNewObject">{!$Label.compliancequest__CQ_UI_Print}</a>
    </div> 
       
    <chatter:feedwithfollowers entityid="{!Id}" showheader="true"/>        
    <div id="checkMobile"></div>
    <div id="loadingBlock" data-role="cqloading"></div>

    <div data-role="cqtabstrip" id="mainTab" data-collapsible="true" data-show-grid-title="true" data-show-grid-count="true" class="cqMainTab" data-activate="setActionButtons">
      <ul>
          <li id="detailTab" class="k-state-active">{!$Label.compliancequest__CQ_UI_Detail}</li>
          <li id="crossReferenceTab" data-grid-sobject="compliancequest__SQX_Cross_Reference_Complaint__c">{!$Label.compliancequest__CQ_UI_Related_Complaints}</li>
          <li id="evaluationTab" data-title="{!$Label.compliancequest__CQ_UI_Evaluation}">{!$Label.compliancequest__CQ_UI_Evaluation}</li>
          <li id="regulatorySubmissionTab">{!$Label.compliancequest__CQ_UI_Regulatory}</li>
          <li id="noteAndAttachmentTab" data-grid-sobject="Note,ContentDocumentLink" data-title="{!$Label.compliancequest__CQ_UI_Notes_And_Attachments}">{!$Label.compliancequest__CQ_UI_Notes_And_Attachments}</li>
          <li id="complaintRecordActivityTab" data-grid-sobject="compliancequest__SQX_Complaint_Record_Activity__c" data-title="{!$Label.compliancequest__CQ_UI_Record_Activity}">{!$Label.compliancequest__CQ_UI_Record_Activity}</li>
          <li id="workflowTab" data-title="{!$Label.compliancequest__CQ_UI_Workflow}">{!$Label.compliancequest__CQ_UI_Workflow}</li>
      </ul>

      <div id="detailSection" class="cqFormSection">
          <div class="cqSectionContent section1col">
              <div data-container="Complaint.compliancequest__Complaint_Title__c" data-role='cqcompositefield'></div>
              <div data-container="Complaint.compliancequest__Description_As_Reported__c" data-role='cqcompositefield'></div>
              <div data-container="Complaint.compliancequest__Description__c" data-role='cqcompositefield'></div>
          </div>
          <div class="cqSectionContent section3col">

              <div data-container="Complaint.compliancequest__SQX_Complaint_Code__c" data-role='cqcompositefield'></div>
              <div data-container="Complaint.compliancequest__Outcome__c" data-role='cqcompositefield'></div>
              <div data-container="Complaint.compliancequest__Patient_Involved__c" data-role='cqcompositefield'></div>

              <div data-container="Complaint.compliancequest__When_Occured__c" data-role='cqcompositefield'></div>
              <div data-container="Complaint.compliancequest__Requested_Action__c" data-role='cqcompositefield'></div>
              <div data-container="Complaint.compliancequest__Response_Required__c" data-role='cqcompositefield'></div>

              <div data-container="Complaint.compliancequest__Reported_Date__c" data-role='cqcompositefield'></div>
              <div data-container="Complaint.compliancequest__Occurrence_Date__c" data-role='cqcompositefield'></div> 
              <div data-container="Complaint.compliancequest__Aware_Date__c" data-role='cqcompositefield'></div>
          </div>

          <div data-role='cqsectionheader' data-title='{!$Label.compliancequest__CQ_UI_Customer}'>{!$Label.compliancequest__CQ_UI_Customer}</div>
          <div class="cqSectionContent section3col"> 
              <div data-container="Complaint.compliancequest__Country__c" data-role='cqcompositefield'></div>
              <div data-container="Complaint.compliancequest__Report_Source__c" data-role='cqcompositefield'></div>
              <div data-container="Complaint.compliancequest__Method_of_Contact__c" data-role='cqcompositefield'></div>

              <div data-container="Complaint.compliancequest__SQX_Account__c" data-role='cqcompositefield' data-field-scope='Complaint'></div>
              <div data-container="Complaint.compliancequest__Company_Name__c" data-role='cqcompositefield' ></div> 
              <div data-container="Complaint.compliancequest__SQX_External_Contact__c" data-role='cqcompositefield' data-field-scope='Complaint' data-cascade-from='compliancequest__SQX_Account__c' data-cascade-field='AccountId'></div>

          </div>

          <div class="clearFix"></div>
          <div id="contactGrid" 
               class="cq-topGrid"
               data-role="cqgrid"
               data-source="Complaint.relatedList('compliancequest__SQX_Complaint_Contacts__r')"
               data-editable="{ mode: 'popup', update:true, create:true, destroy:true }"
               data-columns="[{title: '{!$Label.compliancequest__CQ_UI_Actions}', command : [{ name: 'edit', text: { update: '{!$Label.compliancequest__CQ_UI_Save}'} }, 'destroy'], 'width': '115px'},
               {field: 'compliancequest__Type__c'},
               {field: 'compliancequest__SQX_Contact__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_Contact__c')},
               {field: 'compliancequest__First_Name__c'},
               {field: 'Name'},
               {field: 'compliancequest__Email__c'},
               {field: 'compliancequest__Phone_Number__c'},
               {field: 'compliancequest__Company_Name__c'}
               ]">
          </div>

          <div data-role='cqsectionheader' data-title='{!$Label.compliancequest__CQ_UI_Reporting_Site}'>{!$Label.compliancequest__CQ_UI_Reporting_Site}</div>
          <div class="cqSectionContent section3col">
                <div data-container="Complaint.compliancequest__Org_Division__c" data-role='cqcompositefield'></div>
                <div data-container="Complaint.compliancequest__Org_Business_Unit__c" data-role='cqcompositefield'></div>
                <div data-container="Complaint.compliancequest__Org_Region__c" data-role='cqcompositefield'></div>
                <div data-container="Complaint.compliancequest__SQX_Department__c" data-role='cqcompositefield'></div>
                <div data-container="Complaint.OwnerId" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Complaint.compliancequest__Org_Site__c" data-role='cqcompositefield'></div>
          </div> 

          <div data-role='cqsectionheader' data-title='{!$Label.compliancequest__CQ_UI_Product}'>{!$Label.compliancequest__CQ_UI_Product}</div>  
          <div class="cqSectionContent section3col">
              <div data-container="Complaint.compliancequest__Lot_Number__c" data-role='cqcompositefield' ></div>
              <div data-container="Complaint.compliancequest__SQX_Part__c" data-role='cqcompositefield' ></div>
              <div data-container="Complaint.compliancequest__Complaint_Quantity__c" data-role='cqcompositefield' ></div>

              <div data-container="Complaint.compliancequest__Brand_Name__c" data-role='cqcompositefield' ></div>
              <div data-container="Complaint.compliancequest__Model_Name__c" data-role='cqcompositefield' ></div>
              <div data-container="Complaint.compliancequest__Catalog_Number__c" data-role='cqcompositefield' ></div>

              <div data-container="Complaint.compliancequest__Software_Version__c" data-role='cqcompositefield' ></div>
          </div>

          <div data-role='cqsectionheader' data-title='{!$Label.compliancequest__CQ_UI_Manufacturing_Information}'>{!$Label.compliancequest__CQ_UI_Manufacturing_Information}</div> 
          <div class="cqSectionContent section3col">
              <div data-container="Complaint.compliancequest__SQX_Manufacturing_Division__c" data-role='cqcompositefield' data-field-scope='Complaint'></div>
              <div data-container="Complaint.compliancequest__SQX_Manufacturing_Business_Unit__c" data-role='cqcompositefield' data-field-scope='Complaint' data-cascade-from="compliancequest__SQX_Manufacturing_Division__c" data-cascade-field="compliancequest__SQX_Division__c"></div>
              <div data-container="Complaint.compliancequest__SQX_Manufacturing_Site__c" data-role='cqcompositefield' data-field-scope='Complaint' data-cascade-from="compliancequest__SQX_Manufacturing_Business_Unit__c" data-cascade-field="compliancequest__SQX_Business_Unit__c"></div>
              <div data-container="Complaint.compliancequest__Manufacturing_Date__c" data-role='cqcompositefield' ></div>
              <div data-container="Complaint.compliancequest__Expiration_Date__c" data-role='cqcompositefield' ></div>
          </div>

          <div data-role='cqsectionheader' data-title='{!$Label.compliancequest__CQ_UI_Return}'>{!$Label.compliancequest__CQ_UI_Return}</div>
          <div class="cqSectionContent">
            <div class="cqSectionContent section3col">
                <div data-container="Complaint.compliancequest__Expected_Return_Quantity__c" data-role='cqcompositefield' ></div>
                <div class="formItem"></div>
                <div class="formItem"></div>

                <div data-container="Complaint.compliancequest__Product_Received__c" data-role='cqcompositefield' ></div>
                <div data-container="Complaint.compliancequest__Return_Received_Date__c" data-role='cqcompositefield' ></div>
                <div data-container="Complaint.compliancequest__Actual_Return_Quantity__c" data-role='cqcompositefield' ></div>
            </div>
            <div class="cqSectionContent section1col">
                <div data-container="Complaint.compliancequest__No_product_return_rationale__c" data-role='cqcompositefield' ></div>
            </div>
            <div class="cqSectionContent section3col">
                <div data-container="Complaint.compliancequest__RMA_Number__c" data-role='cqcompositefield' ></div>
                <div data-container="Complaint.compliancequest__Send_Return_Hazard_Kit__c" data-role='cqcompositefield' ></div>
                <div data-container="Complaint.compliancequest__Hold_For_Decontamination__c" data-role='cqcompositefield' ></div>
            </div>
            <div class="cqSectionContent section1col">
                <div data-container="Complaint.compliancequest__Return_Tracking_Number__c" data-role='cqcompositefield' ></div>
            </div>
          </div>

          <div id="complaintTaskGrid" 
               class="cq-topGrid clearFix"
               data-role="cqgrid"
               data-source="Complaint.relatedList('compliancequest__SQX_Complaint_Tasks__r')"
               data-editable="{ mode: 'popup', update:true, create:true, destroy:true }"
               data-columns="[{title: '{!$Label.compliancequest__CQ_UI_Actions}', command : [{ name: 'edit', text: { update: '{!$Label.compliancequest__CQ_UI_Save}'} }, 'destroy'], 'width': '115px'},
               {field: 'compliancequest__SQX_Task__c', hidden: true},
               {field: 'Name'},
               {field: 'compliancequest__Task_Description__c', hidden: true},
               {field: 'compliancequest__Applicable__c', template: '#= getCheckBox(data.compliancequest__Applicable__c) #'},
               {field: 'compliancequest__SQX_User__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_User__c')},
               {field: 'compliancequest__Due_Date__c'},
               {field: 'compliancequest__Comment__c'}
               ]">
          </div>


          <div class="clearFix"></div>
          <div data-role='cqsectionheader' data-title='{!$Label.compliancequest__CQ_UI_Closure}' data-initially-collapsed="false">{!$Label.compliancequest__CQ_UI_Closure}</div>
          <div class="cqSectionContent">
            <div class="cqSectionContent section3col">
                 <div data-container="Complaint.compliancequest__Resolution__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Complaint.compliancequest__SQX_Conclusion_Code__c" data-role='cqcompositefield' data-read-only="true"></div>
            </div>

            <div class="cqSectionContent section1col">
                <div data-container="Complaint.compliancequest__Closure_Comments__c" data-role='cqcompositefield' data-read-only="true"></div>
            </div>

            <div class="cqSectionContent section3col">
                <div data-container="Complaint.compliancequest__Close_Date__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Complaint.compliancequest__Closed_By__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div class="formItem"></div>

                <div data-container="Complaint.compliancequest__Require_Closure_Review__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Complaint.compliancequest__Closure_Review_By__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Complaint.compliancequest__Closure_Review_Date__c" data-role='cqcompositefield' data-read-only="true"></div>

                <div data-container="Complaint.compliancequest__Reopen_Date__c" data-role='cqcompositefield' data-read-only="true"></div>                
          </div>
          </div>

          <div class="clearFix"></div>
      </div>

      <div id="crossReferenceSection" class="cqFormSection">
          <div class="cqSectionContent section1col">  
              <div data-role="cqgrid" class="cq-topGrid subGrid"
                  data-title="{!$Label.compliancequest__CQ_UI_Refer_To_Complaint}"
                  data-source="Complaint.relatedList('compliancequest__SQX_Cross_Reference_Complaints__r')"  
                  data-editable='{ "mode": "popup", update:true, create:true, destroy:true }'
                  data-columns="[{title: '{!$Label.compliancequest__CQ_UI_Actions}',command: [{ name: 'edit', text: { update: '{!$Label.compliancequest__CQ_UI_Save}'} }, 'destroy'], width: '100px'},
                              {field: 'compliancequest__SQX_Complaint__c',template:getReferenceLinkDisplayTemplate('compliancequest__SQX_Complaint__c')},
                              {field: 'compliancequest__Referred_To_Title__c', hideOnPopupEdit: true},
                              {field: 'compliancequest__Referred_To_Status__c', hideOnPopupEdit: true},
                              {field: 'compliancequest__Reference_Type__c'}]">
              </div>
          </div>
          <div class="cqSectionContent section1col">  
              <div data-role="cqgrid" class="cq-topGrid subGrid"
                  data-title="{!$Label.compliancequest__CQ_UI_Referred_By_Complaint}"
                  data-source="Complaint.relatedList('Referring_Complaints')"  
                  data-editable='{ "mode": "popup", update:false, create:false, destroy:false }'
                  data-columns="[{field: 'compliancequest__SQX_Related_Complaint__c',template:getReferenceLinkDisplayTemplate('compliancequest__SQX_Related_Complaint__c'), title :'{!$ObjectType.compliancequest__SQX_Complaint__c.Label}' },
                              {field: 'compliancequest__Referred_By_Title__c'},
                              {field: 'compliancequest__Referred_By_Status__c'},
                              {field: 'compliancequest__Reverse_Reference_Type__c'}]">
              </div>
          </div>
          <div class="clearFix"></div>
      </div>

      <div id="evaluationSection" class="cqFormSection">
          <div id="productHistoryReviewGrid" 
               class="cq-topGrid"
               data-role="cqgrid"
               data-detail-template="productHistoryReviewDetailTemplate"
               data-detail-init="initGridDetail"
               data-source="Complaint.relatedList('compliancequest__SQX_Product_History_Reviews__r')"
               data-editable="{ mode: 'popup', update:true, create:false, destroy:false }"
               data-columns="[{title: '{!$Label.compliancequest__CQ_UI_Actions}', command : [{ name: 'edit', text: { update: '{!$Label.compliancequest__CQ_UI_Save}'} }], 'width': '115px'},
               {field: 'compliancequest__Product_History_Review_Summary__c', template: '#: chompedSummary(compliancequest__Product_History_Review_Summary__c) #' },
               {field: 'compliancequest__Completed_On__c', hideOnPopupEdit: true},
               {field: 'compliancequest__Completed_By__c'},
               {field: 'compliancequest__Status__c'}
               ]">
          </div>

          <div id="complaintInvestigationGrid" 
               class="cq-topGrid"
               data-role="cqgrid"
               data-detail-template="complaintInvestigationDetailTemplate"
               data-detail-init="initGridDetail"
               data-source="Complaint.relatedList('compliancequest__SQX_Investigations__r')"
               data-editable="{ mode: 'popup', update:true, create:false, destroy:false }"
               data-columns="[{title: '{!$Label.compliancequest__CQ_UI_Actions}', command : [{ name: 'edit', text: { update: '{!$Label.compliancequest__CQ_UI_Save}'} }], 'width': '115px'},
               {field: 'compliancequest__Investigation_Summary__c', template: '#: chompedSummary(compliancequest__Investigation_Summary__c) #' },
               {field: 'compliancequest__Completed_On__c', hideOnPopupEdit: true},
               {field: 'compliancequest__Completed_By__c'},
               {field: 'compliancequest__Status__c'}
               ]">
          </div>
          <div class="clearFix"></div>
          
          <div data-role='cqsectionheader' data-title='{!$ObjectType.compliancequest__SQX_Complaint__c.Label}'>{!$ObjectType.compliancequest__SQX_Complaint__c.Label}</div>   
          <div class="cqSectionContent section2col">
              <div data-container="Complaint.compliancequest__SQX_Conclusion_Code__c" data-role='cqcompositefield'></div>  
              <div class="formItem"></div> 
              <div data-container="Complaint.compliancequest__Confirm_Complaint__c" data-role='cqcompositefield'></div>  
              <div class="formItem"></div>
              <div data-container="Complaint.compliancequest__CAPA_Escalation__c" data-role='cqcompositefield'></div>  
              <div data-container="Complaint.compliancequest__SQX_CAPA__c" data-role='cqcompositefield' data-helper-template-id='capaTemplate'></div>  
              <div data-container="Complaint.compliancequest__Change_Control__c" data-role='cqcompositefield'></div>  
              <div data-container="Complaint.compliancequest__Change_Control_Number__c" data-role='cqcompositefield'></div>  
          </div> 
          <div class="clearFix"></div>

          <div class="cqSectionContent section1col">
              <div data-role="cqgrid" class="cq-topGrid subGrid" 
                   data-source="Complaint.relatedList('compliancequest__SQX_Complaint_Defects__r')"
                   data-editable='{ "mode": "popup", update:true, create:true, destroy:true }'
                   data-detail-template="attachmentOnlyTemplate"
                   data-detail-init="initGridDetail"
                   data-columns="[{title: '{!$Label.compliancequest__CQ_UI_Actions}',command: [{ name: 'edit', text: { update: '{!$Label.compliancequest__CQ_UI_Save}'} }, 'destroy'], width: '100px'},
                                      {field : 'compliancequest__SQX_Part__c',template:getReferenceLinkDisplayTemplate('compliancequest__SQX_Part__c', 'compliancequest__Part_Number_and_Name__c')},
                                      {field : 'compliancequest__Lot_Ser_Number__c'},
                                      {field : 'compliancequest__SQX_Defect_Code__c',hidden:true},
                                      {field : 'compliancequest__Defect_Code__c'},
                                      {field : 'compliancequest__Defect_Category__c'},
                                      {field : 'compliancequest__Source__c'}
                                      ]"
                   data-collapsible="false"
                   data-expand-on-save="false"
                   data-initially-collapsed="false">
              </div>
          </div>

          <div class="clearFix"></div>
      </div>

      <div id="regulatorySubmissionSection" class="cqFormSection">
        <div class="cqSectionContent section1col">
                    <div id="decisionTreeGrid" 
                             data-role="cqgrid" class="cq-topGrid subGrid"
                             data-detail-template="decisionTreeDetailTemplate"
                             data-detail-init="initGridDetail"
                             data-source="Complaint.activeDecisionTreeRuns()"
                             data-toolbar="[{name: 'rundecisiontree', text: '{!JSEncode($Label.compliancequest__CQ_UI_Run_Decision_Tree)}', enable : 'Complaint.canEdit() && ( Complaint.isOpen() || (Complaint.isClosure_Rejected() && Complaint.get(\'compliancequest__Is_Initiated__c\') ) )'}]"
                             data-editable="{ mode: 'popup', update:false, create: false, destroy:false }"
                             data-columns="[
                             {field: 'Name'},
                             {field: 'compliancequest__SQX_User__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_User__c')},
                             {field: 'compliancequest__Run_Date__c'},
                             {field: 'compliancequest__Comment__c'},
                             {field: 'compliancequest__Reportable__c', template: '#= getCheckBox(data.compliancequest__Reportable__c) #'},
                             ]">
                    </div>

                    <div id="regulatoryReportingGrid" 
                             data-role="cqgrid" class="cq-topGrid subGrid"
                             data-source="Complaint.activeReports()"
                             data-editable="{ mode: 'popup', update:true, create:true, destroy:true }"
                             data-columns="[{title: '{!$Label.compliancequest__CQ_UI_Actions}', command : [{ name: 'edit', text: { update: '{!$Label.compliancequest__CQ_UI_Save}'} }, 'destroy'], 'width': '115px'},
                             {field: 'compliancequest__Reg_Body__c'},
                             {field: 'Name'},
                             {field: 'compliancequest__Due_Date__c'},
                             {field: 'compliancequest__SQX_User__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_User__c')},
                             {field: 'compliancequest__SQX_Submission_History__c', template:getReferenceDisplayTemplate('compliancequest__SQX_Submission_History__c')},
                             {field: 'compliancequest__Status__c'},
                             {field: 'compliancequest__SQX_Decision_Tree__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_Decision_Tree__c'), hideOnPopupEdit: true},
                             {field: 'compliancequest__Comment__c'}
                             ]">
                    </div>

                    <div id="submissionHistoryGrid" 
                             data-role="cqgrid" class="cq-topGrid subGrid"
                             data-source="Complaint.relatedList('compliancequest__SQX_Submission_Histories__r')"
                             data-detail-template="attachmentOnlyTemplate"
                             data-detail-init="initGridDetail"
                             data-editable="{ mode: 'popup', update:true, create:true, destroy:true }"
                             data-columns="[{title: '{!$Label.compliancequest__CQ_UI_Actions}', command : [{ name: 'edit', text: { update: '{!$Label.compliancequest__CQ_UI_Save}'} }, 'destroy'], 'width': '115px'},
                             {field: 'compliancequest__Reg_Body__c'},
                             {field: 'Name'},
                             {field: 'compliancequest__Report_Number__c'},
                             {field: 'compliancequest__Is_Follow_Up__c', template: '#= getCheckBox(data.compliancequest__Is_Follow_Up__c) #'},
                             {field: 'compliancequest__Due_Date__c'},
                             {field: 'compliancequest__Submitted_Date__c'},
                             {field: 'compliancequest__Submitted_By__c'},
                             {field: 'compliancequest__Comment__c'},
                             {field: 'compliancequest__Confirmation_Recieved_Date__c'},
                             {field: 'compliancequest__Confirmation_Code__c'}
                             ]">
                    </div>


        </div>
        <div class="clearFix"></div>
      
      </div>

      <div id="noteAndAttachmentSection" class="cqFormSection">
          <div data-role="cqgrid" class="cq-topGrid subGrid"
               data-source="Complaint.relatedList('Notes')"
               data-editable='{ "mode": "popup", "update":true, "create":true, "destroy":true}'
               data-columns='[{"title": "{!$Label.compliancequest__CQ_UI_Actions}","command": [{ "name": "edit", "text": { "update": "{!$Label.compliancequest__CQ_UI_Save}"} }, "destroy"], "width": "100px"},
           {"field": "IsPrivate","hidden": true},
           {"field": "Title"}, {"field": "Body"}]'>
          </div>
          <div data-role="cqgrid" id='filesGrid' class="cq-topGrid subGrid"
               data-source="Complaint.relatedList('ContentDocumentLinks')"
               data-collapsible="true"
               data-editable='{"mode": "incell", "create":true, "update":true, "destroy":true}'
               data-toolbar="[{name: 'custom', text: '{!$Label.compliancequest__CQ_UI_Add_Files}', className: 'addFiles', enable: 'Complaint.canEdit()', action: 'sqx.commonActions.addFiles'}]"
               data-columns="[{title: '{!$Label.compliancequest__CQ_UI_Actions}', command: ['preview', 'destroy'], width: '110px'},
                              {field: 'ContentTitle', template: '#: data.Title() #', editor: cq.getFileEditor},
                              {field: 'ContentDescription', template: '#: data.Description() #', editor: cq.getFileEditor}]">
          </div>
          <div class="clearFix"></div>
      </div>

      <div id="complaintRecordActivitySection" class="cqFormSection">

            <div data-role="cqgrid" class="cq-topGrid subGrid"
                 data-source="Complaint.relatedList('compliancequest__SQX_Complaint_Record_Activities__r')"  
                 data-columns="[
                                  {field: 'compliancequest__Activity__c'},
                                  {field: 'compliancequest__Comment__c'},
                                  {field: 'compliancequest__Modified_By__c'},
                                  {field: 'CreatedDate', template: '#: convertToLocalDateTime(CreatedDate) #' }]">
            </div>

            <div class="clearFix"></div>   
      </div>

      <div id="worflowSection" class="cqFormSection">
        <apex:relatedList list="ProcessSteps" pageSize="{!PageSize}"></apex:relatedList>
        
        <div class="cqSectionContent section1col">
            <apex:relatedList list="OpenActivities" pageSize="{!PageSize}"/>
        </div>
        
        <div class="cqSectionContent section1col">
            <apex:relatedList list="ActivityHistories" pageSize="{!PageSize}"/>
        </div>
        
        <div class="clearFix"></div>
      </div>

    </div>   

    <script type="text/x-kendo-template" id="complaintInvestigationDetailTemplate">
        <div data-role="cqtabstrip" data-collapsible="true" data-show-grid-title="true" data-show-grid-count="true" class="tabStrip">
            <ul>
                <li class="k-state-active">{!$Label.compliancequest__CQ_UI_Investigation_Summary}</li>
                <li data-grid-sobject="compliancequest__SQX_Investigation_Tool__c">{!$ObjectType.compliancequest__SQX_Investigation_Tool__c.LabelPlural}</li>
                <li data-grid-sobject="compliancequest__SQX_Root_Cause__c">{!$ObjectType.SQX_Root_Cause__c.LabelPlural}</li>
                <li data-grid-sobject="compliancequest__SQX_Action_Plan__c">{!$ObjectType.compliancequest__SQX_Action_Plan__c.LabelPlural}</li>
                <li data-grid-sobject="ContentDocumentLink">{!$Label.compliancequest__CQ_UI_Files}</li>
            </ul>

            <div>
                <div class="investigationSummary" data-bind="html: investigationSummary()"></div>
            </div>
            <div>
                <div class="investigationTool">
                    <div class="subGrid"
                         data-relatedlist="compliancequest__SQX_Investigation_Tools__r"
                         data-options='{"editable":{"mode":"popup","update":#= data.canEdit() #,"create":#= data.canEdit() #,"destroy":#= data.canEdit() #},"showTitle":false,"showCount":false, "collapsible":false,"initialRows":0,"expandOnSave":false}'
                         data-columns='[{"title": "{!$Label.compliancequest__CQ_UI_Actions}", "command" : [{ "name": "edit", "text": { "update": "{!$Label.compliancequest__CQ_UI_Save}"} }, "destroy"], "width": "100px"},
                                        {"field": "compliancequest__Investigation_Tool_Method_Used__c"},
                                        {"field" : "compliancequest__Description__c"}
                                        ]'>
                    </div>
                </div>
            </div>

            <div>
                <div class="rootCause">
                    <div class="subGrid"
                         data-relatedlist="compliancequest__SQX_Root_Causes__r"
                         data-options='{"editable":{"mode":"popup","update":true,"create":true,"destroy":true},"showTitle":false,"showCount":false, "collapsible":false,"initialRows":0,"expandOnSave":false}'
                         data-columns='[
                                        {"title": "{!$Label.compliancequest__CQ_UI_Actions}", "command" : [{ "name": "edit", "text": { "update": "{!$Label.compliancequest__CQ_UI_Save}"} }, "destroy"], "width": "100px"},
                                        {"field" : "compliancequest__SQX_Root_Cause_Code__c"},
                                        {"field" : "compliancequest__Description__c"},
                                        {"field" : "compliancequest__Sub_Supplier_Name__c"},
                                        {"field" : "compliancequest__Category__c"},
                                        {"field" : "compliancequest__Failure_Component__c"},
                                        {"field" : "compliancequest__Supplier_Issue__c"}]'>
                    </div>
                </div>
            </div>
            <div>
                <div class="actionPlan">
                    <div class="subGrid"
                         data-relatedlist="compliancequest__SQX_Action_Plans__r"
                         data-options='{"editable":{"mode":"popup","update":true,"create":true,"destroy":true},"showTitle":false,"showCount":false, "collapsible":false,"initialRows":0,"expandOnSave":false}'
                         data-columns='[
                                        {"title": "{!$Label.compliancequest__CQ_UI_Actions}", "command" : [{ "name": "edit", "text" : { "update": "{!$Label.compliancequest__CQ_UI_Save}"} }, "destroy"], "width": "100px"},
                                        {"field" : "compliancequest__Plan_Number__c"},
                                        {"field" : "compliancequest__Description__c"},
                                        {"field" : "compliancequest__Completion_Date__c"}
                                        ]'>
                    </div>
                </div>
            </div>
            <div>
                <div class="Attachment">
                    <div class="subGrid"
                         data-relatedlist="ContentDocumentLinks"
                         data-toolbar='[{"name": "custom", "text": "{!$Label.compliancequest__CQ_UI_Add_Files}", "className": "addFiles", "action": "sqx.commonActions.addFiles", "enable": "#: data.canAddChildren(SQXSchema.ContentDocumentLink.sObjectName) #"}]'
                         data-options='{"editable":{"mode":"incell","update":#= data.rowEditable ? data.rowEditable() : true #,"create":#= data.rowEditable ? data.rowEditable() : true #,"destroy":#= data.rowEditable ? data.rowEditable() : true # },"showTitle":false,"collapsible":false}'
                         data-columns='[{"title": "{!$Label.compliancequest__CQ_UI_Actions}", "command": ["preview", "destroy"], "width": "110px"},
                                        {"field": "ContentTitle", "template": "\\#: data.Title() \\#", "editor": cq.getFileEditor},
                                        {"field": "ContentDescription", "template": "\\#: data.Description() \\#", "editor": cq.getFileEditor}]'>                                     
                    </div>
                </div>
            </div>
        </div>
    </script> 

   <script type="text/x-kendo-template" id="productHistoryReviewDetailTemplate">

        <div data-role="cqtabstrip" data-collapsible="false" data-show-grid-title="true" data-show-grid-count="true" class="tabStrip">
            <ul>
                <li class="k-state-active">{!$Label.compliancequest__CQ_UI_Product_History_Review_Summary}</li>
                <li data-grid-sobject="compliancequest__SQX_Related_Product__c">{!$Label.compliancequest__CQ_UI_Related_Products}</li>
                <li data-grid-sobject="compliancequest__SQX_Product_History_Answer__c">{!$Label.compliancequest__CQ_UI_Product_History_Answers}</li>
                <li data-grid-sobject="ContentDocumentLink">{!$Label.compliancequest__CQ_UI_Files}</li>
            </ul>

            <div>
                <div class="phrSummary" data-bind="html: phrSummary()"></div>
            </div>

            <div class="relatedProduct">
                <div class="subGrid"
                     data-relatedlist="compliancequest__SQX_Related_Products__r"
                     data-options='{"editable":{"mode":"popup","update":true,"create":true,"destroy":true},"showTitle":false,"showCount":false, "collapsible":false,"initialRows":0,"expandOnSave":false}'
                     data-columns='[
                                    {"title": "{!$Label.compliancequest__CQ_UI_Actions}", "command" : [{ "name": "edit", "text": { "update": "{!$Label.compliancequest__CQ_UI_Save}"} }, "destroy"], "width": "100px"},
                                    {"field" : "compliancequest__SQX_Product_Component__c","template": getReferenceDisplayTemplate("compliancequest__SQX_Product_Component__c", "compliancequest__Part_Number_and_Name__c")},
                                    {"field" : "compliancequest__SQX_CAPA__c","template": getReferenceDisplayTemplate("compliancequest__SQX_CAPA__c")},
                                    {"field" : "compliancequest__SQX_Nonconformance__c","template": getReferenceDisplayTemplate("compliancequest__SQX_Nonconformance__c")},
                                    {"field" : "compliancequest__Reference_Type__c"},
                                    {"field" : "compliancequest__Other_Reference_Number__c"},
                                    {"field" : "compliancequest__Description__c"}]'>
                </div>
            </div>

            <div class="productHistoryAnswers">
                <div class="subGrid"
                     data-relatedlist="compliancequest__SQX_Product_History_Answers__r"
                     data-options='{"editable":{"mode":"popup","update":true,"create":false,"destroy":false},"showTitle":false,"showCount":false, "collapsible":false,"initialRows":0,"expandOnSave":false}'
                     data-columns='[
                                    {"title": "{!$Label.compliancequest__CQ_UI_Actions}", "command" : [{ "name": "edit", "text": { "update": "{!$Label.compliancequest__CQ_UI_Save}"} }, "destroy"], "width": "100px"},
                                    {"field" : "compliancequest__Question__c"},
                                    {"field" : "compliancequest__Answer__c", "hideOnPopupEdit": true},
                                    {"field" : "compliancequest__AnswerPicker__c", "hidden" : true},
                                    {"field" : "compliancequest__Notes__c"}]'>
                </div>
            </div>

            <div class="Attachment">
                <div class="subGrid"
                     data-relatedlist="ContentDocumentLinks"
                     data-toolbar='[{"name": "custom", "text": "{!$Label.compliancequest__CQ_UI_Add_Files}", "className": "addFiles", "action": "sqx.commonActions.addFiles", "enable": "#: data.canAddChildren(SQXSchema.ContentDocumentLink.sObjectName) #"}]'
                     data-options='{"editable":{"mode":"incell","update":#= data.rowEditable ? data.rowEditable() : true #,"create":#= data.rowEditable ? data.rowEditable() : true #,"destroy":#= data.rowEditable ? data.rowEditable() : true # },"showTitle":false,"collapsible":false}'
                     data-columns='[{"title": "{!$Label.compliancequest__CQ_UI_Actions}", "command": ["preview", "destroy"], "width": "110px"},
                                    {"field": "ContentTitle", "template": "\\#: data.Title() \\#", "editor": cq.getFileEditor},
                                    {"field": "ContentDescription", "template": "\\#: data.Description() \\#", "editor": cq.getFileEditor}]'>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-kendo-template" id="attachmentOnlyTemplate">
        <div data-role="cqtabstrip" data-collapsible="true" data-show-grid-title="true" data-show-grid-count="true" class="tabStrip">
            <ul>
                <li class="k-state-active" data-grid-sobject="ContentDocumentLink">{!$Label.compliancequest__CQ_UI_Files}</li>
            </ul>
            <div>
                <div class="Attachment">
                    <div class="subGrid"
                         data-relatedlist="ContentDocumentLinks"
                         data-toolbar='[{"name": "custom", "text": "{!$Label.compliancequest__CQ_UI_Add_Files}", "className": "addFiles", "action": "sqx.commonActions.addFiles", "enable": "#: data.canAddChildren(SQXSchema.ContentDocumentLink.sObjectName) #"}]'
                         data-options='{"editable":{"mode":"incell","update":#= data.rowEditable ? data.rowEditable() : true #,"create":#= data.rowEditable ? data.rowEditable() : true #,"destroy":#= data.rowEditable ? data.rowEditable() : true # },"showTitle":false,"collapsible":false}'
                         data-columns='[{"title": "{!$Label.compliancequest__CQ_UI_Actions}", "command": ["preview", "destroy"], "width": "110px"},
                                        {"field": "ContentTitle", "template": "\\#: data.Title() \\#", "editor": cq.getFileEditor},
                                        {"field": "ContentDescription", "template": "\\#: data.Description() \\#", "editor": cq.getFileEditor}]'>
                    </div>
                </div>
            </div>
        </div>
    </script>  

    <script type="text/x-kendo-template" id="closeComplaintTemplate">
        <div id="confirmWindow">
            <div class="cqSectionContent section1col">
                <div data-container="Complaint.compliancequest__Resolution__c" data-role='cqcompositefield' data-edit-mode="true" class="complaintResolution"></div>
                <div data-container="Complaint.compliancequest__SQX_Conclusion_Code__c" data-role='cqcompositefield' data-edit-mode="true" class="complaintConclusionCode"></div>
                <div data-container="Complaint.compliancequest__Require_Closure_Review__c" data-role='cqcompositefield' data-edit-mode="true" class="complaintRequireClosureReview"></div>
                <div data-container="Complaint.compliancequest__Closure_Review_By__c" data-role='cqcompositefield' data-edit-mode="true" class="complaintClosureReviewBy"></div>
            </div>
        </div>
    </script> 

    <script type="text/x-kendo-template" id="capaTemplate">
      <a href="#" 
          class="cq-create-capa"
          data-fn-ns="sqx.evtHdlr.createCapa"
          data-template-id="createCapaTemplate"
          data-cmd-buttons="[{name:'save', text: '{!$Label.compliancequest__CQ_UI_Create_CAPA}', nextAction: 'createcapa', action: 'submit'},   'cancel']"
          data-auto-bind="false"
          data-cq-action="createCapa"
          data-validate-main-window="false"
          data-bind="visible: enablecreateCapa">[{!$Label.compliancequest__CQ_UI_Create_CAPA}]</a>
    </script>

    <script type="text/x-kendo-template" id="createCapaTemplate">
        <div class="cqSectionContent section1col">
        <!-- Meaning of signature -->
          <div data-container="sqx.tr.Finding.compliancequest__Finding_Type__c" data-role='cqcompositefield' data-edit-mode="true" class='capaFindingType'></div>
          <div data-container="sqx.tr.Finding.compliancequest__Title__c" data-role='cqcompositefield' data-edit-mode="true" class='capaTitle'></div>
          <div data-container="sqx.tr.Finding.compliancequest__Description__c" data-role='cqcompositefield' data-edit-mode="true" class='capaDescription'></div>
          <div data-container="sqx.tr.CAPA.compliancequest__Org_Division__c" data-role='cqcompositefield' data-field-scope='CAPA' data-edit-mode="true"></div>
          <div data-container="sqx.tr.CAPA.compliancequest__Org_Business_Unit__c" data-role='cqcompositefield' data-field-scope='CAPA' data-cascade-from="compliancequest__Org_Division__c" data-cascade-field="compliancequest__Org_Division__c" data-edit-mode="true"></div>
          <div data-container="sqx.tr.CAPA.compliancequest__Org_Region__c" data-role='cqcompositefield' data-field-scope='CAPA' data-cascade-from="compliancequest__Org_Business_Unit__c" data-cascade-field="compliancequest__Org_Business_Unit__c" data-edit-mode="true"></div>
          <div data-container="sqx.tr.CAPA.compliancequest__Org_Site__c" data-role='cqcompositefield' data-field-scope='CAPA' data-cascade-from="compliancequest__Org_Region__c" data-cascade-field="compliancequest__Org_Region__c" data-edit-mode="true"></div>
          
        </div>
        <div class="clearFix"></div>
    </script>
    
    <script id="approveRejectClosureReviewTemplate" type="text/x-jquery-tmpl">
        <div id="approveRejectClosureReview">
            <div style="padding:10px 20px 10px 10px;">
                <div class="section1col">
                    <!-- Meaning of signature -->
                    <div class="formItem">
                        <div class="formLabel"><label for="respondMeaningOfSignature">{!$Label.compliancequest__CQ_UI_Purpose_Of_Signature}</label></div>
                        <div class='formField' name='respondMeaningOfSignature'><span></span></div>
                    </div>
                    <!-- ****** -->
                    <div class="formItem">
                        <div class="formLabel"><label for="approvalRemark">{!$Label.compliancequest__CQ_UI_Comment}</label></div>
                        <div class="formField">
                            <div class="editableElement">
                                <textarea id="approvalRemark" class="cq-multi-line-textarea" name="Comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <div  data-current-user-details-var="userDetails"  data-role='cqelectronicsignature'></div>
                </div>
                <div class="clearFix"></div>
                <div class="commandSection" style="text-align:center;margin-top:10px">
                    <div>
                        <div class="errorStyle errorDiv">
                            <span class="k-icon k-warning"> </span> <span class="msg"></span>
                        </div>
                    </div>
                    <button type="button" id="btnApproveApproval" onclick="approveRejectClosureReview(event, 'approveApproval', '#= data.workItemId #')" class="cqCommandButton k-button approve" data-role="button" role="button" aria-disabled="false" tabindex="0">{!$Label.compliancequest__CQ_UI_Approve}</button>
                    <button type="button" id="btnRejectApproval" onclick="approveRejectClosureReview(event, 'rejectApproval', '#= data.workItemId #')" class="cqCommandButton k-button reject" data-role="button" role="button" aria-disabled="false" tabindex="0">{!$Label.compliancequest__CQ_UI_Reject}</button>
                    <button type="button" id="btnCancelApproval" onclick="cancelResponseApproval(event)" class="cqCommandButton k-button" data-role="button" role="button" aria-disabled="false" tabindex="0">{!$Label.compliancequest__CQ_UI_Button_Cancel}</button>
                </div>
            </div>
        </div>
    </script>
    
    <script id="CrossReferenceComplaintDropdownTemplate" type="text/x-kendo-template">
        <div>
            <p>
                <em>#: Name #</em>:
                #: data.compliancequest__Title__c || '' #
            </p>
        </div>
    </script>


    <!-- DECISION TREE WORKFLOW TEMPLATES -->
    <script type="text/x-kendo-template" id="decisionTreeStartTmpl">
        <div class="cq-dtree-window">
            
            <div class="cqSectionContent section1col dtree-start">
                <div class="formItem">
                    <div class="formLabel">
                        <label>{!$Label.compliancequest__CQ_UI_Please_select_a_decision_tree_to_run}</label>
                    </div>
                    <div class="formField cq-required">
                        <div class="editableElement cq-field-required">

                            <div class="dtree-selector" data-bind="source: decisionTreeDS" data-primitive="true" data-role="dropdownlist" data-text-field="Name" data-value-field=
                            "Id"></div>
                            <button class="cqCommandButton k-button launch-dtree" type="button">{!$label.compliancequest__CQ_UI_Run_Decision_Tree}</button>
                        </div>
                        <div class="dtree-prev-warning" data-bind="visible: showPreviousRunWarning"> 
                            <apex:outputText value="{!$Label.compliancequest__CQ_UI_Decision_Tree_Warning}" escape="true"/>
                        </div>
                    </div>
                </div>
                
                <div class="dtree-items">
                </div>

            </div>

            <div class="dtree-current-answer cqSectionContent section1col"></div>

            <div class="dtree-esig-container" data-bind="visible:ShowConclusion" style="display:none;"></div>

            <div class="commandSection dtree-final-cmd-sec" style="display:none;" data-bind="visible:ShowConclusion">
                <div style="text-align:center">
                    <button type="button" class="dtree-prev-btn cqCommandButton k-button" data-bind="click:Back">{!$Label.compliancequest__CQ_UI_Back}</button>
                    <button type="button" class="dtree-save-btn cqCommandButton k-button" data-bind="click:Save">{!$Label.compliancequest__CQ_UI_Save}</button>    
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-kendo-template" id="dtreeQuestionTmpl">
        <div class="cqSectionContent section1col" style="vertical-align:top" data-bind="invisible:ShowConclusion">
            <div class="question-text formItem">
                <div class="formLabel">
                    <label>{!$Label.compliancequest__CQ_UI_Question}</label>
                </div>
                <div class="formField">
                    <div data-bind="text:Question.QuestionText"></div>
                </div>
            </div>
            <div class="formItem no-highlight">
                <div class="formLabel">&nbsp;</div>
                <div class="formField">
                    <ul class="dtree-valid-answers"></ul>
                </div>
            </div>
            <div class="formItem no-highlight">
                <div class="formLabel">
                    <label>{!$Label.compliancequest__CQ_UI_Comment}</label>
                </div>
                <div class="formField">
                    <div class="editableElement">
                        <textArea class="dtree-comment cq-wo cq-multi-line-textarea" data-bind="value:Question.Comment" rows="3"></textArea>
                    </div>
                </div>
            </div>
            
            <div class="commandSection">
                <div style="text-align:center">
                    <button type="button" class="dtree-prev-btn cqCommandButton k-button" data-bind="click:Previous,enabled:HasPrevious">{!$Label.compliancequest__CQ_UI_Previous}</button>
                    <button type="button" class="dtree-next-btn cqCommandButton k-button" data-bind="click:Next,enabled:Answered,visible:ShowNext">{!$Label.compliancequest__CQ_UI_Next}</button>
                    <button type="button" class="dtree-finish-btn cqCommandButton k-button" data-bind="click:Finish,visible:ShowFinish">{!$Label.compliancequest__CQ_UI_Finish}</button>
                </div>
            </div>

        </div>

        <div class="cqSectionContent section1col" data-bind='visible:ShowConclusion'>

            <div class="cqSectionHeader">{!$Label.compliancequest__CQ_UI_Your_Answers}</div>
            <div class="col span_3_of_3">
                <div class="dtree-answer-history" data-role="grid" data-bind="source: Answers"
                    data-columns="[
                        {field : 'QuestionText', title: '{!$Label.compliancequest__CQ_UI_Question}', template: '#: data.QuestionText #'},
                        {field : 'AnswerText', title: '{!$Label.compliancequest__CQ_UI_Answer}', width: '200px', template: '#: data.AnswerText #'},
                        {field : 'Comment', title: '{!$Label.compliancequest__CQ_UI_Comment}', width: '200px'}
                    ]"
                ></div> 
            </div>

            <div class="cqSectionHeader">{!$Label.compliancequest__CQ_UI_Conclusion}<span class="dtree-conclusion-msg" data-bind="text:conclusionMsg,attr:{class: conclusionMsgClass}"></span></div>

            <div class="dtree-conclusion-report col span_3_of_3" data-bind='visible:ShowConclusion'>
                <div class="dtree-conclusion" data-bind="source:dsConclusion, visible:Reportable" data-role="grid"
                    data-columns="[
                        {'field' : 'RegulatoryBody', title: '{!$Label.compliancequest__CQ_UI_Regulatory_Body}'},
                        {'field' : 'Report', title: '{!$Label.compliancequest__CQ_UI_Report}'},
                        {'field' : 'DueInDays', title: '{!$Label.compliancequest__CQ_UI_Due_In_Days}'},
                        {title: '{!$Label.compliancequest__CQ_UI_Due_By}', template: '#: getFormattedDate(data.dueDate()) #'}
                    ]"></div>
            </div>

        </div>
        

    </script>

    <script id="dtreeAnswerTemplate" type="text/x-kendo-template">
    
        # $.each(data.Question.AnswerOptions, function (index, item) {
           #     <li>
<input type="radio" name="opt" data-bind="checked:Question.Answer, events:{change:AnswerChanged}" value='${item.compliancequest__Option_Value__c}'  data-report='${item.compliancequest__Report_Name__c}' data-reportable='${item.compliancequest__Reportable__c}' 
data-nextQuestion='${item.compliancequest__Next_Question__c}'           data-regulatoryBody='${item.compliancequest__RegulatoryBody__c}' data-dueInDays='${item.compliancequest__Due_In_Days__c}' data-AnswerText='${item.Name}' >#: item.Name #</input> </li>#                        
      }); 
      #
      
  </script>
  
        <script type="text/x-kendo-template" id="decisionTreeDetailTemplate">
                <div data-role="cqtabstrip" data-collapsible="false" data-show-grid-title="true" data-show-grid-count="false" class="tabStrip">
                        <ul>
                                <li class="k-state-active">{!$Label.compliancequest__CQ_UI_Conclusion}</li>
                                <li>{!$Label.compliancequest__CQ_UI_Decision_Tree_Answer}</li>
                                <li>{!$Label.compliancequest__CQ_UI_History}</li>
                        </ul>
                        <div><div>
                                <div class="subGrid"
                                     data-relatedlist="compliancequest__Regulatory_Report__r"
                                     data-editable="{ mode: 'popup', update:false, create:false, destroy:false }"
                                     data-toolbar='[{"name" : "create"}]'
                                     data-columns="[
                                     {field: 'compliancequest__Reg_Body__c'},
                                     {field: 'Name'},
                                     {field: 'compliancequest__Due_Date__c'},
                                     {field: 'compliancequest__SQX_User__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_User__c')},
                                     {field: 'compliancequest__SQX_Submission_History__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_Submission_History__c')},
                                     {field: 'compliancequest__Status__c'},
                                     {field: 'compliancequest__SQX_Decision_Tree__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_Decision_Tree__c'), hideOnPopupEdit: true},
                                     {field: 'compliancequest__Comment__c'}
                                     ]">
                                </div>
                                </div>
                        </div>
                        <div>
                                <div>
                                        <div class="subGrid"
                                                 data-relatedlist="compliancequest__SQX_Decision_Tree_Answers__r"
                                                 data-toolbar='[{"name" : "create"}]'
                                                 data-save="attachmentSaveCalled"
                                                 data-options='{"editable":{"mode":"popup","update": false,"create": false,"destroy": false },"showTitle":false,"collapsible":false}'
                                                 data-columns='[
                                                                                        {"field" : "compliancequest__Question_Text__c"},
                                                                                        {"field" : "valueWithText()", "title": "{!$Label.compliancequest__CQ_UI_Answer}"},
                                                                                        {"field" : "compliancequest__Comment__c"}
                                                                                        ]'>
                                        </div>
                                </div>
                        </div>
                        <div>
                                <div class="subGrid"
                                     data-relatedlist="olderRuns"
                                     data-toolbar='[{"name" : "create"}]'
                                     data-detailTemplate="decisionTreeDetailTemplateWithoutHistory"
                                     data-detail-init="initGridDetail"
                                     data-editable="{ mode: 'popup', update:false, create: false, destroy:false }"
                                     data-columns='[
                                     {"field": "Name"},
                                     {"field": "compliancequest__SQX_User__c", "template": getReferenceLinkDisplayTemplate("compliancequest__SQX_User__c")},
                                     {"field": "compliancequest__Run_Date__c"},
                                     {"field": "compliancequest__Comment__c"},
                                     {"field": "compliancequest__Reportable__c", template: "\\#= getCheckBox(data.compliancequest__Reportable__c) \\#"},
                                     ]'>
                                </div>
                        </div>
                </div>

        </script>

        <script type="text/x-kendo-template" id="decisionTreeDetailTemplateWithoutHistory">
                <div data-role="cqtabstrip" data-collapsible="false" data-show-grid-title="true" data-show-grid-count="false" class="tabStrip">
                        <ul>
                                <li class="k-state-active">{!$Label.compliancequest__CQ_UI_Conclusion}</li>
                                <li>{!$Label.compliancequest__CQ_UI_Decision_Tree_Answer}</li>
                        </ul>
                        <div>
                                <div class="subGrid"
                                     data-relatedlist="compliancequest__Regulatory_Report__r"
                                     data-editable="{ mode: 'popup', update:false, create:false, destroy:false }"
                                     data-toolbar='[{"name" : "create"}]'
                                     data-columns="[
                                     {field: 'compliancequest__Reg_Body__c'},
                                     {field: 'Name'},
                                     {field: 'compliancequest__Due_Date__c'},
                                     {field: 'compliancequest__SQX_User__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_User__c')},
                                     {field: 'compliancequest__SQX_Submission_History__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_Submission_History__c')},
                                     {field: 'compliancequest__Status__c'},
                                     {field: 'compliancequest__SQX_Decision_Tree__c', template:getReferenceLinkDisplayTemplate('compliancequest__SQX_Decision_Tree__c'), hideOnPopupEdit: true},
                                     {field: 'compliancequest__Comment__c'}
                                     ]">
                                </div>
                        </div>
                        <div>
                                <div>
                                        <div class="subGrid"
                                                 data-relatedlist="compliancequest__SQX_Decision_Tree_Answers__r"
                                                 data-toolbar='[{"name" : "create"}]'
                                                 data-save="attachmentSaveCalled"
                                                 data-options='{"editable":{"mode":"popup","update": false,"create": false,"destroy": false },"showTitle":false,"collapsible":false}'
                                                 data-columns='[
                                                                                        {"field" : "compliancequest__Question_Text__c"},
                                                                                        {"field" : "valueWithText()", "title": "{!$Label.compliancequest__CQ_UI_Answer}"},
                                                                                        {"field" : "compliancequest__Comment__c"}
                                                                                        ]'>
                                        </div>
                                </div>
                        </div>
                </div>

        </script>


</apex:page>
