<apex:page standardController="SQX_Controlled_Document__c" extensions="SQX_Extension_Controlled_Document" title="{!$Label.CQ_UI_Controlled_Doc_Clone_Title}">
    <apex:sectionHeader title="{!$Label.CQ_UI_Controlled_Doc_Edit}" subtitle="{!$Label.CQ_UI_New_Document_Clone}" />
    <apex:pageMessages escape="false"/>
    <apex:pageMessage severity="WARNING" strength="2" escape="false" rendered="{! HasLargePrimaryContent }"
                      summary="<h4>{!$Label.compliancequest__cq_ui_warning_heading}</h4> {!$Label.compliancequest__cq_ui_controlled_document_clone_or_revise_large_content_warning}" />
    <apex:form >
        <apex:inputHidden value="{!SQX_Controlled_Document__c.Document_Number__c}"/>
        <apex:inputHidden value="{!SQX_Controlled_Document__c.Document_Category__c}"/>
        <apex:inputHidden value="{!SQX_Controlled_Document__c.Description__c}"/>
        <apex:inputHidden value="{!SQX_Controlled_Document__c.Review_Interval__c}"/>
        <apex:inputHidden value="{!SQX_Controlled_Document__c.Auto_Release__c}"/>
        <apex:inputHidden value="{!SQX_Controlled_Document__c.Content_Reference__c}"/>
        <apex:inputHidden value="{!SQX_Controlled_Document__c.Primary_Content_Check_In_Method__c}"/>

        <apex:pageBlock title="{!$Label.CQ_UI_New_Document_Clone}"> 
            <apex:pageBlockSection columns="1" collapsible="false" >               
                <apex:inputText id="Name" value="{!SQX_Controlled_Document__c.Document_Number__c}"/>
                <apex:inputText id="Revision__c" value="{!SQX_Controlled_Document__c.Revision__c}"/>   
                <apex:inputText id="Title__c" value="{!SQX_Controlled_Document__c.Title__c}"/> 
                <apex:inputField value="{!SQX_Controlled_Document__c.Document_Type__c}" rendered="{!isStandardDoc}"
                    html-data-sqx-field="{!$ObjectType.SQX_Controlled_Document__c.Name}.{!$ObjectType.SQX_Controlled_Document__c.fields.Document_Type__c.Name}" />
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.SQX_Controlled_Document__c.fields.Changes__c.Label}" for="Changes__c" ></apex:outputLabel>
                    <apex:inputTextarea id="Changes__c" cols="50" rows="4" value="{!changes}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.SQX_Controlled_Document__c.fields.Change_Scope__c.Label}" for="Change_Scope__c" ></apex:outputLabel>
                 <apex:inputField html-data-sqx-field="{!$ObjectType.SQX_Controlled_Document__c.Name}.{!$ObjectType.SQX_Controlled_Document__c.fields.Change_Scope__c.Name}" id="Change_Scope__c" value="{!SQX_Controlled_Document__c.Change_Scope__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.CQ_UI_File}" for="file"></apex:outputLabel>
                    <apex:inputFile id="file" value="{!file}" fileName="{!fileName}"></apex:inputFile>                
                </apex:pageBlockSectionItem>

                <apex:outputField value="{!SQX_Controlled_Document__c.SQX_Change_Order__c}" rendered="{!NOT(ISBLANK(SQX_Controlled_Document__c.SQX_Change_Order__c))}" />
               
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton value="{!$Label.CQ_UI_Button_Save}" action="{!CloneDocument}"/>
                <apex:commandButton value="{!$Label.CQ_UI_Button_Cancel}" action="{!Cancel}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>