<apex:page standardController="SQX_Complaint__c">

    <!-- Complaint Header Section Begins -->
    <div id="headerSection" class="cqHeaderBlock">
        <div class="cqRecordIdentifier">
            <span>{!$ObjectType.compliancequest__SQX_Complaint__c.Label}</span>
            <h1 data-bind="text:Name"></h1>
        </div>
        
        <style>
            .cqFlowIndicator > table { width: 100%; }
            .cqFlowStep.bottom { height : 14px; }
            .cqFlowStep.top {height: 14px;}
        </style>
        
        <div id="flowIndicator" data-role="cqflowindicator" data-ordered-list="[ 
                                                            {name : 'create', text : '{!$Label.compliancequest__CQ_UI_Flow_Draft}'}, 
                                                            {name: 'triage',  text: '{!$Label.compliancequest__CQ_UI_Triage_Initiate}'},
                                                            {name: 'decisiontree', text: '{!$Label.compliancequest__CQ_UI_Flow_Decision_Tree}' } , 
                                                            {name: 'PHR', text: '{!$Label.compliancequest__CQ_UI_Flow_PHR}' } , 
                                                            {name: 'investigate', text: '{!$Label.compliancequest__CQ_UI_Investigate}'},
                                                            {name: 'closurereview', text: '{!$Label.compliancequest__CQ_UI_Flow_Closure_Review}'}, 
                                                            {name: 'close', text: '{!$Label.compliancequest__CQ_UI_Close}'}]" 
                                                            data-show-on-top="[
                                                            'close', 
                                                            'create', 
                                                            'closurereview',
                                                            'triage']">
        </div>
        
        <div class="clearFix"></div>
        
    </div>
    
</apex:page>