<apex:page>

    <!-- Audit Header Section Begins -->
    <div id="headerSection" class="cqHeaderBlock">
        <div class="cqRecordIdentifier">
            <span>{!$ObjectType.compliancequest__SQX_Audit__c.Label}</span>
            <h1 data-bind="text:Name"></h1>
        </div>
        
        <style>
            .cqFlowIndicator > table { width: 100%; }
            .cqFlowStep.bottom { height : 14px; }
            .cqFlowStep.top {height: 14px;}
        </style>
        
        <!-- reportInApproval is rendered as Audit Report Approval -->
        
        <div id="flowIndicator" data-role="cqflowindicator" data-ordered-list="[ 
                                                            {name: 'plan', text: '{!$Label.CQ_UI_Flow_Plan}'}, 
                                                            {name: 'planApproval',  text: '{!$Label.CQ_UI_Flow_Plan_Program_Approval}'}, 
                                                            {name: 'scheduled',  text: '{!$Label.CQ_UI_Flow_Scheduled}'}, 
                                                            {name: 'confirmed', text: '{!$Label.CQ_UI_Flow_Confirmed}' },
                                                            {name: 'inProgress', text: '{!$Label.CQ_UI_Flow_In_Progress}'},
                                                            {name: 'findingApproval', text: '{!$Label.CQ_UI_Flow_Finding_Approval}'},
                                                            {name: 'respond', text: '{!$Label.CQ_UI_Flow_Respond}'},
                                                            {name: 'responseApproval', text: '{!$Label.CQ_UI_Flow_Response_Approval}'},
                                                            {name: 'implement', text: '{!$Label.CQ_UI_Flow_Implement}'},
                                                            {name: 'implementationResponseApproval',text:'{!$Label.CQ_UI_Flow_Implementation_Response_Approval}'}, 
                                                            {name: 'readyForClosure',text:'{!$Label.CQ_UI_Flow_Ready_For_Closure}'},  
                                                            {name: 'close', text: '{!$Label.CQ_UI_Flow_Close}'}]" 
                                                            data-show-on-top="[
                                                            'plan', 
                                                            'scheduled',
                                                            'confirmed',
                                                            'inProgress', 
                                                            'performAudit',
                                                            'readyForClosure',
                                                            'close']">
        </div>
        
        <div class="clearFix"></div>
        
        <div id="headerRecordInfo" class="cqRecordHeader" data-bind="visible:isExistingObject()">

            <div class="section3col">
                <div data-container="Audit.compliancequest__Audit_Type__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Audit.compliancequest__Audit_Category__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Audit.compliancequest__Status__c" data-role='cqcompositefield' data-read-only="true"></div>
                
                <div data-container="Audit.compliancequest__Account__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Audit.compliancequest__SQX_Department__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Audit.compliancequest__Stage__c" data-role='cqcompositefield' data-read-only="true"></div>

                <div data-container="Audit.compliancequest__Result_Type__c" data-role="cqcompositefield" data-read-only="true"></div>
                <div data-container="Audit.compliancequest__Audit_Result__c" data-role="cqcompositefield" data-read-only="true"></div>
                <div data-container="Audit.compliancequest__Audit_Checked_Out__c" data-role='cqcompositefield' data-helper-template-id='auditSpreadsheetTemplate'>
                </div>

                <div class="formItem"></div>
                <div class="formItem"></div>
                <div data-container="Audit.compliancequest__SQX_Checked_Out_By__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div></div>
                <div  data-container="Audit.compliancequest__SQX_Supplier_Introduction__c" data-role="cqcompositefield"  ></div>
                <div class="clearFix"></div>
            </div>
            <div class="section1col">
                <div data-container="Audit.compliancequest__Title__c" data-role='cqcompositefield' data-read-only="true"></div>
            </div>
        </div>
        <div class="clearFix"></div>
    </div>
    
</apex:page>