<apex:page standardController="SQX_Product_History_Review__c" extensions="SQX_Extension_PHR" title="New PHR">
	
    
    <apex:form id="frm">
        <apex:commandButton id="saveBtn" action="{!create}" value="save" style="display:none" />
        <apex:pageBlock title="New Product History Review" >
            <div id="pgMsgDiv">
                <apex:pageMessages />
            </div>
            <apex:pageBlockSection >
                {!$Label.CQ_UI_Product_History_Review_Go_Back}
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!cancel}" value="Go Back" />
            </apex:pageBlockButtons>
            
            <apex:inputHidden value="{!SQX_Product_History_Review__c.SQX_Complaint__c}" />
    
            
        </apex:pageBlock>
    </apex:form>

    <script type="text/javascript">
        function save() {
            var pgMsgDiv = document.getElementById('pgMsgDiv');
            if(pgMsgDiv.innerText.length === 0) {
                document.getElementById('{!$Component.frm.saveBtn}').click();
            }
        }
        window.addEventListener("DOMContentLoaded",save);
    </script>
</apex:page>