<apex:page title="CQ Data Import Wizard" >
    <apex:includeLightning />

    <div id="lgtngCmp" />
    <div id="loading">
        {!$Label.CQ_UI_Loading}
    </div>

    <script type="text/javascript">

        $Lightning.use("compliancequest:SQX_Data_Import_Application", function() {
            $Lightning.createComponent("compliancequest:SQX_Data_Import", {},
            "lgtngCmp",
            function(cmp) {
                document.getElementById('loading').style.display = "none";
            });
        });
    </script>
</apex:page>