<apex:page standardController="SQX_Assessment__c" extensions="SQX_Extension_Assessment" title = "{!$Label.CQ_UI_Assessment_Edit}" lightningStylesheets="true">

    <apex:composition template="{!DetailPageLayout}">
    </apex:composition>
</apex:page>