<apex:page standardController="SQX_Audit_Report__c" standardStylesheets="false" showHeader="false" sidebar="false">
    <apex:variable var="redirectUrl" 
        value="{!URLFOR($Page.SQX_Audit, null, [ initialTab = 'findingTab', id = SQX_Audit_Report__c.SQX_Audit__c ])}#sqx_audit_report"/>
    
    Redirecting to Audit &nbsp;<apex:outputField value="{!SQX_Audit_Report__c.SQX_Audit__c}" />, which owns Audit Report &nbsp;<apex:outputField value="{!SQX_Audit_Report__c.Name}" />&nbsp; automatically.&nbsp;<apex:outputLink value="{!redirectUrl}">Please click here if it is taking too long</apex:outputLink>.
    
    <script type="text/javascript">
        window.location = '{!JSEncode(redirectUrl)}';
    </script>
</apex:page>