<apex:page standardController="SQX_Change_Order__c" >
    <!-- Audit Header Section Begins -->
    <div class="extraMargin"></div>
    <div id="headerSection" class="cqHeaderBlock">
        <div class="cqRecordIdentifier">
            <span>{!$ObjectType.compliancequest__SQX_Change_Order__c.Label}</span>
            <h1 data-bind="text:Name"></h1>
        </div>
        
        <!-- reportInApproval is rendered as Audit Report Approval -->
        
        <div id="flowIndicator" data-role="cqflowindicator" data-ordered-list="[ 
                                                            {name: 'draft', text: '{!$Label.compliancequest__CQ_UI_Flow_Draft}'}, 
                                                            {name: 'triage',  text: '{!$Label.compliancequest__CQ_UI_Flow_Triage}'}, 
                                                            {name: 'plan', text: '{!$Label.compliancequest__CQ_UI_Flow_Plan}' },
                                                            {name: 'approval', text: '{!$Label.compliancequest__CQ_UI_Flow_Plan_Approval}'},
                                                            {name: 'implement', text: '{!$Label.compliancequest__CQ_UI_Flow_Implement}'},
                                                            {name: 'implementationApproval', text: '{!$Label.compliancequest__CQ_UI_Flow_Implementation_Approval}'},
                                                            {name: 'complete', text: '{!$Label.compliancequest__CQ_UI_Flow_Complete}'}, 
                                                            {name: 'close', text: '{!$Label.compliancequest__CQ_UI_Flow_Close}'}]" 
                                                            data-show-on-top="[
                                                            'draft', 
                                                            'triage', 
                                                            'plan',
                                                            'complete',
                                                            'close']">
        </div>
        
        <div class="clearFix"></div>
        
        <div id="headerRecordInfo" class="cqRecordHeader" data-bind="visible:isExistingObject()">

            <div class="section1col">
                
            </div>
            
            <div class="section3col">
            	<div data-container="CqChange.compliancequest__Title__c" data-role='cqcompositefield' data-read-only="true" class="span2col"></div>
                <div data-container="CqChange.compliancequest__Status__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div class="formItem" style="display:none;"></div>
                <div data-container="CqChange.compliancequest__Change_Category__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="CqChange.compliancequest__Priority__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="CqChange.compliancequest__Approval_Status__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="CqChange.compliancequest__SQX_Site__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="CqChange.compliancequest__SQX_Department__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="CqChange.compliancequest__Resolution_Code__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="CqChange.compliancequest__Effective_Date__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div class="clearFix"></div>
            </div>
        </div>
        <div class="clearFix"></div>
    </div>

</apex:page>