<apex:page standardController="SQX_Complaint_Associated_Item__c" tabStyle="SQX_Complaint_Associated_Item__c" extensions="SQX_VF_Kendo_Helper" title="{!PageTitle}">
	<compliancequest:SQX_VF_Lightning_UI extension="{!VFExtension}" UIAction="create" RecordId="{!SQX_Complaint_Associated_Item__c.Id}" cancelaction="{!cancel}"></compliancequest:SQX_VF_Lightning_UI>
</apex:page>