<apex:page standardController="SQX_Audit__c">
        <!-- Audit Header Section Begins -->
    <div id="headerSection" class="cqHeaderBlock">
        <div class="cqRecordIdentifier">
            <span>{!$ObjectType.compliancequest__SQX_Audit__c.Label}</span>
            <h1 data-bind="text:Name"></h1>
        </div>
        
        <div id="headerRecordInfo" class="cqRecordHeader" data-bind="visible:isExistingObject()">

            <div class="section3col">
                <div data-container="Audit.compliancequest__Audit_Type__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Audit.compliancequest__Audit_Category__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Audit.compliancequest__Status__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Audit.compliancequest__Account__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Audit.compliancequest__SQX_Department__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div class="formItem"></div>
                <div data-container="Audit.compliancequest__Result_Type__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div data-container="Audit.compliancequest__Audit_Result__c" data-role='cqcompositefield' data-read-only="true"></div>
                <div class="formItem"></div>
            </div>
            <div class="section1col">
                <div data-container="Audit.compliancequest__Title__c" data-role='cqcompositefield' data-read-only="true"></div>
            </div>
        </div>
        <div class="clearFix"></div>
    </div>
</apex:page>