<apex:page standardController="SQX_Nonconformance__c">

    <!-- Non-conformance Header Section Begins -->
    <div id="headerSection" class="cqHeaderBlock">
        <div class="cqRecordIdentifier">
            <span>{!$ObjectType.compliancequest__SQX_Nonconformance__c.Label}</span>
            <h1 data-bind="text:Name"></h1>
        </div>
        
        <style>
            .cqFlowIndicator > table { width: 100%; }
            .cqFlowStep.bottom { height : 15px; }
            .cqFlowStep.top {height: 15px;}
        </style>
        
        <div id="flowIndicator" data-role="cqflowindicator" data-ordered-list="[
                {name: 'create', text : '{!$Label.CQ_UI_Create}'},
                {name: 'triage',  text: '{!$Label.CQ_UI_Triage_Initiate}'},
                {name: 'contain', text: '{!$Label.CQ_UI_Contain}'},
                {name: 'disposition', text: '{!$ObjectType.compliancequest__SQX_Disposition__c.Label}' } ,
                {name: 'approveDisposition', text: '{!$Label.CQ_UI_Approve_Disposition}'},
                {name: 'investigate', text: '{!$Label.CQ_UI_Investigate}'}, 
                {name: 'approveInvestigation', text: '{!$Label.CQ_UI_Approve_Investigation}'},
                {name: 'close', text: '{!$Label.CQ_UI_Close}'}]" data-show-on-top="['close', 'create', 'approveInvestigation', 'approveImplementation', 'triage', 'approveDisposition']"></div>
        
        <div class="clearFix"></div>
        
        <div class="section3col" data-bind="visible:isExistingObject()">
            <div data-container="NC.compliancequest__Type__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.compliancequest__Open_Date__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.compliancequest__Status__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.OwnerId" data-role='cqcompositefield' data-read-only="true" data-change-owner="false"></div>
            <div data-container="NC.compliancequest__Close_Date__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.compliancequest__Resolution__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.compliancequest__SQX_Account__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.compliancequest__SQX_External_Contact__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.compliancequest__Age__c" data-read-only="true" data-role='cqcompositefield'></div>
        </div>

        <div class="section1col" data-bind="visible:isExistingObject()">
        <div data-container="NC.compliancequest__NC_Title__c" data-read-only="true" data-role='cqcompositefield'></div>
        </div>

        <div class="clearFix"></div>
        
    </div>
    
</apex:page>