<apex:page standardController="SQX_Supplier_Escalation__c" tabStyle="SQX_Supplier_Escalation__c" extensions="SQX_VF_Kendo_Helper" title="{!PageTitle}">
    <c:SQX_VF_Lightning_UI extension="{!VFExtension}" UIAction="create" RecordId="{!SQX_Supplier_Escalation__c.Id}" cancelaction="{!cancel}"></c:SQX_VF_Lightning_UI>


    <apex:define name="customerScriptBlock">
        <apex:composition template="{!CustomerScriptPageLayout}">
        </apex:composition>
    </apex:define>
    <apex:insert name="customerScriptBlock" />

</apex:page>