<apex:page standardController="SQX_CAPA__c" showHeader="false" sidebar="false" readOnly="true">
    <apex:sectionHeader title="{!SQX_CAPA__c.Name}" subtitle="CAPA Detail Report"/>
     <apex:includescript value="{!URLFOR($Resource.cqUI, 'scripts/jquery-1.9.1.min.js')}" />
     <script type="text/javascript" src="{!URLFOR($Resource.cqUI, 'scripts/sqx/CQcommonprint.js')}"></script>

    <apex:detail relatedList="true" title="true" relatedListHover="false"/>
    <apex:detail relatedList="true" title="true" relatedListHover="false" subject="{!SQX_CAPA__c.SQX_Finding__c}"/>

    <script type="text/javascript">
    
    hideAllChangeOwnershipLinks();
    </script>    
    <style type="text/css">
        
        input.btn {
            display: none;
        }
        .actionColumn { 
            display: none; 
        }
        .fewerMore{
            display: none;
        }
        
        </style>
</apex:page>