<apex:page sidebar="false" showHeader="false" controller="SQX_Controller_Open_SCARS">
    <apex:pageBlock title="Open SCARs">
        <div style="width: 100%; overflow-y: scroll; overflow-x:auto;" id="mainFrame">
            <apex:pageBlockTable var="capa" value="{!OpenCAPAs}" rendered="{!OpenCAPAs.size > 0}">
                  <apex:column headerValue="CAPA Number">
                           <apex:outputLink target="_blank" value="{! $Page.SQX_CAPA_Response + '?initialTab=responseHistoryTab&id=' + capa.Id }">
                           {!capa.Name}</apex:outputLink>
                    </apex:column>
                <apex:column value="{!capa.Title__c}"/>
                <apex:column value="{!capa.Date_Opened__c}"/>
                <apex:column value="{!capa.Target_Due_Date__c}"/>
                <apex:column value="{!capa.Age__c}"/>
                <apex:column value="{!capa.Status__c}"/>
            </apex:pageBlockTable>
            <apex:pageBlockSection rendered="{!OpenCAPAs.size == 0}" columns="1">
                <p style="padding: 5px 0px; border-width: 1px 0; border-top-color: #4a4a56; border-bottom-color:#d4dadc; border-style:solid;">You have no open CAPA/SCAR.</p>
            </apex:pageBlockSection>
        </div>
    </apex:pageBlock>

    <apex:includescript value="{!URLFOR($Resource.cqUI, 'scripts/jquery-1.9.1.min.js')}" />
    <script type="text/javascript">
        if({!OpenCAPAs.size != 0}){
            var headerSize = $(".pbHeader").height(),
                availableHeight = $(window).height() - headerSize - 30;
                
            $("#mainFrame").css('height', availableHeight + 'px');
        }
    </script>
</apex:page>