<apex:page standardcontroller="SQX_Audit_Criteria__c" title="Audit Criterion Edit: New Audit Criterion">
    <p>Audit Criteria object is obsolete. Please use "Audit Criteria" type Controlled Document object.</p>
</apex:page>