.THIS .cq-table-container{
	height: 300px;
}

.THIS .cq-approval lightning-formatted-url > a[title*='/lightning'] {
    background-color: #0070D2;
    height: 20px;
    display: inline-block;
    margin: 0 2px;
    min-width: 100px;
    border-radius: 3px;
    min-height: 30px;
    color: #EFFDFF !important;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
      
}

.THIS .cq-approval lightning-formatted-url > a[title*='/lightning']:hover {
    background-color: #005fb2 !important;
      
}


.THIS  .fixed-mode{
    height: 300px;
}

.THIS .related-mode .slds-scrollable_x{
    overflow: visible;
}

.THIS .related-mode .slds-scrollable_y{
    overflow: visible;
}