<apex:component >
             <div data-role="cqtabstrip" id="mainTab" data-collapsible="true" data-show-grid-title="true" data-show-grid-count="true" class="cqMainTab" data-activate="setActionButtons">
            <ul>
                <li id="detailTab" class="k-state-active">CAPA</li>
                <li id="policyTab">Policy</li>
                <li id="noteAndAttachmentTab" data-grid-sobject="Note,Attachment" data-title="Notes & Attachments"> Notes &amp; Attachments</li>
                <li id="referenceTab" data-grid-sobject="compliancequest__SQX_Defect__c,compliancequest__SQX_Evidence__c" data-title="Reference">Reference</li>
                <li id="impactTab" data-grid-sobject="compliancequest__SQX_Impacted_Site__c,compliancequest__SQX_Impacted_Product__c" data-title="Impact">Impact</li>
                <li id="responseHistoryTab" data-grid-sobject="compliancequest__SQX_Finding_Response__c">Response</li>
                <li id="approvedInvestigationTab" data-grid-sobject="compliancequest__SQX_Approved_Investigation__c">Investigation</li>
                <li id="approvedActionTab" data-grid-sobject="compliancequest__SQX_Action__c">Implementation</li>
                <li id="effectivenessReviewTab" data-grid-sobject="compliancequest__SQX_Effectiveness_Review__c">Effectiveness Review</li>
                <li id="capaRecordHistoryTab" data-grid-sobject="compliancequest__SQX_CAPA_Record_Activity__c" data-title="Record Activity"> Record Activity</li>
            </ul>
            <div id="detailSection" class="cqFormSection">
                <div class="cqSectionContent section3col">
                    
                    <div data-container="Capa.compliancequest__CAPA_Type__c" data-role='cqcompositefield'></div>
                    <div data-container="Capa.compliancequest__SQX_Account__c" data-role='cqcompositefield' data-field-scope='CAPA'></div>
                    <div data-container="Capa.compliancequest__SQX_External_Contact__c" data-role='cqcompositefield' data-field-scope='CAPA' data-cascade-from='compliancequest__SQX_Account__c' data-cascade-field='AccountId'></div>
                    
                    
                    <div data-container="Capa.compliancequest__SQX_CAPA_Coordinator__c" data-role='cqcompositefield'></div>
                    <div data-container="Capa.compliancequest__Issued_Date__c" data-role='cqcompositefield'></div>
                    <div data-container="Capa.compliancequest__Target_Due_Date__c" data-role='cqcompositefield'></div>
                    
                    <div data-container="Capa.compliancequest__External_Reference_Number__c" data-role='cqcompositefield'></div>
                    <div data-container="Finding.compliancequest__SQX_Part__c" data-role='cqcompositefield'></div>
                    <div data-container="Finding.compliancequest__SQX_Service__c" data-role='cqcompositefield'></div>
                    
                    <div data-container="Finding.compliancequest__Operation__c" data-role='cqcompositefield'></div>
                    <div data-container="Finding.compliancequest__Process__c" data-role='cqcompositefield'></div>
                    <div class="formItem"></div>
                    
                    
                </div>
                <div data-role='cqsectionheader' data-title='Ownership'>Ownership</div>
                <div class="cqSectionContent section3col">
                    <div data-container="Capa.compliancequest__Business_Unit__c" data-role='cqcompositefield'></div>
                    <div data-container="Capa.compliancequest__Division__c" data-role='cqcompositefield'></div>
                    <div data-container="Capa.compliancequest__Site__c" data-role='cqcompositefield'></div>
                    <div data-container="Capa.compliancequest__SQX_CAPA_Sponsor__c" data-role='cqcompositefield'></div>
                    <div data-container="Capa.compliancequest__Department__c" data-role='cqcompositefield'></div>
                    <div data-container="Capa.OwnerId" data-role='cqcompositefield'></div>
                </div>
                <div data-role='cqsectionheader' data-title='Issue Definition'>Issue Definition</div>
                <div class="cqSectionContent section1col">
                    <div data-container="Finding.compliancequest__Finding_Type__c" data-role='cqcompositefield'></div>
                    <div data-container="Finding.compliancequest__Title__c" data-role='cqcompositefield'></div>
                    <div data-container="Finding.compliancequest__Description__c" data-role='cqcompositefield'></div>
                    <div data-container="Finding.compliancequest__Recommended_Action__c" data-role='cqcompositefield'></div>
                </div>
                <div data-role='cqsectionheader' data-title='Closure' data-initially-collapsed="true">Closure</div>
                <div class="cqSectionContent section1col">
                    <div data-container="Finding.compliancequest__Closure_Comments__c" data-role='cqcompositefield' data-read-only="true"></div>
                    <div class="formItem">
                        <div class="formLabel">&nbsp;</div>
                        <div class="formField"><a href="#" id="voidLink" onclick="closeCAPAPrompt(event);" data-bind="visible: enableVoid">Click to void CAPA</a></div>
                    </div>
                </div>

                <div class="clearFix"></div>
            </div>
            <div id="policySection" class="cqFormSection">                
                <div data-role='cqsectionheader' data-title='Risk'>Risk</div>
                <div class="cqSectionContent section3col">
                    <div data-container="Finding.compliancequest__Severity__c" data-role='cqcompositefield'></div>
                    <div data-container="Finding.compliancequest__Probability__c" data-role='cqcompositefield'></div>
                    <div data-container="Finding.compliancequest__Risk_Level__c" data-read-only="true" data-role='cqcompositefield' data-dynamic-style="backgroundColor:riskLevelColor"></div>
                </div>
                <div class="cqSectionContent section1col">
                    <div data-container="Finding.compliancequest__Risk_Justification__c" data-role='cqcompositefield'></div>
                </div>
                <div data-role='cqsectionheader' data-initially-collapsed='false' data-title='Policy'>this is policy section</div>
                <div class="cqSectionContent section3col">
                    <div data-container="Finding.compliancequest__Response_Required__c" data-role="cqcompositefield"></div>
                    <div data-container="Finding.compliancequest__Containment_Required__c" data-role="cqcompositefield"></div>
                    <div data-container="Finding.compliancequest__Investigation_Required__c" data-role="cqcompositefield"></div>
                    <div data-container="Finding.compliancequest__Due_Date_Response__c" data-role="cqcompositefield"></div>
                    <div data-container="Finding.compliancequest__Due_Date_Containment__c" data-role="cqcompositefield"></div>
                    <div data-container="Finding.compliancequest__Due_Date_Investigation__c" data-role="cqcompositefield"></div>
                    <div data-container="Finding.compliancequest__Completion_Date_Response__c" data-edit-mode="false" data-role="cqcompositefield"></div>
                    <div data-container="Finding.compliancequest__Completion_Date_Containment__c" data-edit-mode="false" data-role="cqcompositefield"></div>
                    <div data-container="Finding.compliancequest__Completion_Date_Investigation__c" data-edit-mode="false" data-role="cqcompositefield"></div>
                    <div class="formItem"></div>
                    <div class="formItem"></div>
                    <div data-container="Finding.compliancequest__Corrective_Action_Required__c" data-role="cqcompositefield"></div>
                    <div class="formItem"></div>
                    <div class="formItem"></div>
                    <div data-container="Finding.compliancequest__Preventive_Action_Required__c" data-role="cqcompositefield"></div>
                    <div data-container="Capa.compliancequest__Post_Approval_Required__c" data-role="cqcompositefield"></div>
                    <div data-container="Capa.compliancequest__Pre_Approval_Required__c" data-role="cqcompositefield"></div>
                    <div data-container="Finding.compliancequest__Investigation_Approval__c" data-role="cqcompositefield"></div>
                    <div data-container="Capa.compliancequest__SQX_Action_Approver__c" data-role="cqcompositefield"></div>
                    <div class="formItem"></div>
                    <div data-container="Finding.compliancequest__SQX_Investigation_Approver__c" data-role="cqcompositefield"></div>
                </div>
                <div data-role='cqsectionheader' data-initially-collapsed='false' data-title='Effectiveness Review'>this is review policy</div>
                <div class="cqSectionContent section3col">
                    <div data-container="Capa.compliancequest__Needs_Effectiveness_Review__c" data-role="cqcompositefield"></div>
                    <div data-container="Capa.compliancequest__Effectiveness_Monitoring_Days__c" data-role="cqcompositefield"></div>
                    <div data-container="Capa.compliancequest__SQX_Effectiveness_Reviewer__c" data-role="cqcompositefield"></div>
                </div>
                <div class="cqSectionContent section1col">
                    <div data-container="Capa.compliancequest__Effectiveness_Verification_Plan__c" data-role="cqcompositefield"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div id="noteAndAttachmentSection" class="cqFormSection">
                <div data-role="cqgrid" class="cq-topGrid subGrid"
                     data-source="Capa.relatedList('Notes')"
                     data-editable='{ "mode": "popup", "update":true, "create":true, "destroy":true}'
                     data-columns='[{"title": "Actions","command": [{ "name": "edit", "text": { "update": "Save"} }, "destroy"], "width": "100px"},
                 {"field": "IsPrivate","hidden": true},
                 {"field": "Title"}, {"field": "Body"}]'>
                </div>
                <div data-role="cqgrid" id='attachmentGrid' class="cq-topGrid subGrid"
                     data-source="Capa.relatedList('Attachments')"
                     data-save="attachmentSaveCalled"
                     data-collapsible="true"
                     data-editable='{"mode": "popup","create":true, "update":true, "destroy":true,template:$("#AttachmentEditTemplate").html() }'
                     data-columns='[{"title": "Actions", "command": [{ "name": "edit", "text": { "update": "Save"} },"destroy"], "width": "100px"} ,{"field": "Name",template:buildAttachmentViewLink}, {"field": "Description"}]'>
                </div>
                <div class="clearFix"></div>
            </div>
            <div id="referenceSection" class="cqFormSection">
                <div data-role="cqgrid" class="cq-topGrid subGrid" data-source="Finding.relatedList('compliancequest__SQX_Defects__r')"
                     data-editable='{ "mode": "popup", update:true, create:true, destroy:true }'
                     data-detail-template="attachmentOnlyTemplate"
                     data-detail-init="initGridDetail"
                     data-columns="[{title: 'Actions',command: ['edit','destroy'], width: '100px'},
                                         {field : 'compliancequest__SQX_Part__c',template:getReferenceDisplayTemplate('compliancequest__SQX_Part__c')},
                                        {field : 'compliancequest__Lot_Ser_Number__c'},
                                        {field : 'compliancequest__SQX_Defect_Code__c',hidden:true},
                                        {field : 'compliancequest__Defect_Code__c'},
                                        {field : 'compliancequest__Defect_Category__c'},
                                        {field : 'compliancequest__Defective_Quantity__c'},
                                        {field : 'compliancequest__Defect_Description__c'},
                                        ]"
                     data-collapsible="true"
                     data-expand-on-save="false"
                     data-initially-collapsed="true"></div>
                <div class="clearFix"></div>
            </div>
            <div id="impactSection" class="cqFormSection defer">
                <div data-role="cqgrid" class="cq-topGrid subGrid"
                     data-source="Finding.relatedList('compliancequest__SQX_Impacted_Sites__r')"
                     data-editable='{ "mode": "popup", update:true, create:true, destroy:true}'
                     data-columns="[{title: 'Actions',command: ['edit', 'destroy'], width: '100px'},
                        {field: 'compliancequest__Division__c'},
                        {field: 'compliancequest__Business_Unit__c'},
                        {field: 'compliancequest__Site__c'},
                        {field: 'compliancequest__Production_Line__c'},
                        {field: 'compliancequest__Operation__c'},
                        {field: 'compliancequest__Department__c'}]"></div>
                <div class="clearFix"></div>
            </div>
            <div id="responseHistorySection" class="cqFormDetail">
                <div data-role="cqgrid" class="cq-topGrid subGrid" data-source="Finding.relatedList('compliancequest__SQX_Responses__r')"
                     data-editable='{ "mode": "popup", update:false, create:false, destroy:false }'
                     data-detail-template="responseHistoryTemplate"
                     data-detail-init="initGridDetail"
                     data-show-title="false"
                     data-collapsible="false"
                     data-columns="[{field: 'compliancequest__Response_Summary__c',template : '#: chompedSummary(compliancequest__Response_Summary__c) #'},
                     {field: 'compliancequest__Submitted_On__c'},
                     {field: 'compliancequest__Submitted_By__c'},
                     {field: 'hasContainments()', title : 'Containment', template : '#= getCheckBox(hasContainments()) #', width:'100px'},
                     {field: 'hasInvestigations()',title : 'Investigation', template : '#= getCheckBox(hasInvestigations()) #', width:'100px'},
                     {field: 'hasActions()',title : 'Action', template : '#= getCheckBox(hasActions()) #', width:'100px'},
                     {field: 'compliancequest__Approval_Status__c',template: function(dataItem){return responseApprovalColumnTemplate(dataItem)}, width:'200px'},
                     {title: 'Approved On', template: '#: ApprovedOn() #'}
                     ]"
                     data-initially-collapsed="false"></div>
            </div>
            <div id="approvedInvestigation" class="cqFormSection">
                <div class="section2col"> 
                  <div class="formItem" style="width:40%">
                      <b>Investigation Summary</b>
                      <div id= "listViewApprovedInvestigations">
                      </div>
                      <div class="clearFix"></div>
                  </div>

                  <div id="approvedRootCauses" class="formItem" style="width:58%; padding-left:15px; float:right; margin-top:12px;">
                    <div data-role="cqgrid" class="cq-topGrid"
                        data-toolbar = '[]'
                         data-title="Approved Root Causes"
                         data-collapsible="false"
                         data-source="Finding.approvedRootCauses()"
                         data-columns="[
                                {field : 'compliancequest__SQX_Root_Cause__r.compliancequest__SQX_Root_Cause_Code__c',title:'Root Cause Code',template:getReferenceDisplayTemplate('compliancequest__SQX_Root_Cause__r.compliancequest__SQX_Root_Cause_Code__c')},
                                {field : 'compliancequest__SQX_Root_Cause__r.compliancequest__Description__c', title:'Description' },
                                {field : 'compliancequest__SQX_Root_Cause__r.compliancequest__Category__c',title:'Category'},
                                {field : 'compliancequest__SQX_Root_Cause__r.compliancequest__Failure_Component__c',title:'Failure Component'},
                                {field : 'compliancequest__SQX_Root_Cause__r.compliancequest__Supplier_Issue__c',title:'Supplier Issue',template : '#= getCheckBox(compliancequest__SQX_Root_Cause__r.compliancequest__Supplier_Issue__c) #'}]"></div>
                    <div class="clearFix"></div>
                  </div>                  
                </div> 
                <div id="approvedActionPlans" class="formItem">
                  <br/>
                  <div data-role="cqgrid" class="cq-topGrid"
                        data-toolbar="[]"
                       data-title="Approved Action Plans"
                       data-collapsible="false"
                       data-source="approvedActionPlans(Finding)"
                       data-columns="[
                            {field : 'compliancequest__Plan_Number__c'},
                            {field : 'compliancequest__Plan_Type__c'},
                            {field : 'compliancequest__Description__c'},
                            {field : 'compliancequest__Due_Date__c',template : '#: getFormattedDate(data.compliancequest__Due_Date__c) #'},
                            {field : 'compliancequest__Completed__c',template : '#= getCheckBox(compliancequest__Completed__c) #'},
                            {field : 'compliancequest__Completion_Date__c',template : '#: getFormattedDate(data.compliancequest__Completion_Date__c) #'}
                            ]"></div>
                  <div class="clearFix"></div>
                </div>
                <div class="clearFix"></div>
            </div>
            <div id="approvedActions" class="cqFormSection subGrid">
                <div data-role="cqgrid" class="cq-topGrid subGrid" data-source="Capa.relatedList('compliancequest__SQX_Actions__r')"
                     data-detail-template="approvedActionDetailTemplate"
                     data-detail-init="initGridDetail"
                     data-editable='false'
                     data-show-title="false"
                     data-collapsible="false"
                     data-columns='[{"field": "compliancequest__Plan_Number__c"},
                                         {"field": "compliancequest__Plan_Type__c"},
                                         {"field": "compliancequest__Description__c"},
                                         {"field": "compliancequest__Due_Date__c"},
                                         {"field": "compliancequest__Status__c"},
                                         {"field": "compliancequest__Completion_Date__c"}]'>
                </div>
            </div>
            <div id="effectivenessReviews" class="cqFormSection">
                <div data-role="cqgrid" class="cq-topGrid subGrid"
                     data-detail-template="attachmentOnlyTemplate"
                     data-detail-init="initGridDetail"
                     data-collapsible="false"
                     data-show-title="false"
                     data-source="Capa.relatedList('compliancequest__SQX_Effectiveness_Review__r')"
                     data-editable='{ "mode": "popup", update:true, create:true, destroy:true}'
                     data-columns="[{title: 'Actions',command: ['edit', 'destroy'], width: '100px'},
                        {field: 'compliancequest__Review_Started_On__c'},
                        {field: 'compliancequest__Review__c'},
                        {field: 'compliancequest__Reviewed_By__c'},
                        {field: 'compliancequest__Status__c'},
                        {field: 'compliancequest__Resolution__c'},
                        {field: 'compliancequest__Review_Completed_On__c'},
                        {field: 'compliancequest__Next_Review_Date__c'},
                        {field: 'compliancequest__Rating__c'}]"></div>
                <div class="clearFix"></div>
            </div>
            <div id="capaRecordHistoryTab" class="cqFormSection">
              <div data-role="cqgrid" class="cq-topGrid subGrid"
                   data-source="Capa.relatedList('compliancequest__SQX_CAPA_Record_Activities__r')"  
                   data-columns='[{"field": "compliancequest__Type_of_Activity__c","title":"Type of Activity"},
                                    {"field": "compliancequest__Comment__c","title":"Comment"},
                                    {"field": "compliancequest__Purpose_Of_Signature__c","title":"Purpose Of Signature"},
                                    {"field": "compliancequest__Modified_By__c"},
                                    {"field": "LastModifiedDate", "template": "#: convertToLocalDateTime(LastModifiedDate) #", "title": "Modified Date"}]'>
              </div>

            <div class="clearFix"></div>     
         </div>
        </div>
</apex:component>