<apex:component >
    <apex:attribute name="title" required="true" type="String" description="This attribute sets the page title"/>
    <apex:attribute name="uicontroller" required="true" type="String" description="This attribute sets the default controller to use in JS"/>
    <apex:attribute name="mainRecordType" required="true" type="String" description="The type of the main record. E.g. SQX_Capa__c" />
    <apex:attribute name="completeDataJSON" required="true" type="String" description="Complete JSON Data" />
    <apex:attribute name="changeSetDataJSON" required="true" type="String" description="Changed JSON Data" />
    <apex:attribute name="ncRecordTypeID" required="true" type="String" description="Non Conformance Record Type ID" />
    <apex:attribute name="ncDepartments" required="false" type="String" description="List of departments" />  
    <apex:attribute name="InvestigationTools" required="true" type="String" description="List of Investigation Tools" />  
    <apex:attribute name="RootCauses" required="true" type="String" description="List of departments" />    
    <apex:attribute name="ncUpdateAccess" required="false" type="boolean" description="Whether current user has NC update access" /> 
    
    <!-- Load Javascript and CSS addition -->
    
    <apex:includescript value="{!URLFOR($Resource.cqUI, 'scripts/jquery-1.9.1.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.cqUI, 'scripts/kendo/kendo.web.min.js')}" />
    <!-- TODO: need to consider whether to create two different Schema files or keep it the same -->
    <apex:includescript value="{!URLFOR($Resource.CAPASchema)}" />
    <apex:stylesheet value="{!URLFOR($Resource.cqUI, 'styles/cqui.min.css')}" />
    
    <!-- Java script section for defining properties in the object -->
    <script type="text/javascript">

        document.title = '{!JSENCODE(title)}'; //set the document title
        var UIController = {!JSENCODE(uicontroller)},
            currentUser = {'Id':'{!$User.id}','Name':'{!$User.FirstName} {!$User.LastName}' },
            mainRecordType = '{!JSENCODE(mainRecordType)}',
            mainRecord,
            ncRecordTypeId = '{!JSENCODE(ncRecordTypeID)}',
            NC,
            Finding,
			isNewRecord = false,
            recordAccess,
            ncUpdateAccess={!ncUpdateAccess};
			
        var initialTab = '{!JSENCODE($CurrentPage.parameters.initialTab)}', expandRecord='{!JSENCODE($CurrentPage.parameters.expandRecord)}',
                expandRecordType = '{!JSENCODE($CurrentPage.parameters.expandRecordType)}';         


        function initializeNewMainRecord(newRow) {
            isNewRecord=true;
            var newNC = newRow, newFinding;
            newNC.Name = 'New';
            newNC.set('compliancequest__Status__c', 'Draft');
            newNC.set('compliancequest__Occurrence_Date__c', new Date());
            if (newNC.compliancequest__SQX_Findings__r.length == 0) {
                newFinding = newRow.relatedList('compliancequest__SQX_Findings__r').add();
                newFinding.set('compliancequest__Response_Required__c', true);
                newFinding.set('compliancequest__Due_Date_Response__c', kendo.date.addDays(new Date(), 7));//todo:get from server side settings
                newFinding.set('compliancequest__Investigation_Required__c', true);
                newFinding.set('compliancequest__Issue_Date__c', new Date());
                newFinding.set('compliancequest__SQX_Investigation_Approver__r', currentUser);
                newFinding.set('compliancequest__Due_Date_Investigation__c', kendo.date.addDays(new Date(), 30));//todo:get from server side settings
                newFinding['RecordTypeId'] = ncRecordTypeId;
                newFinding.set('compliancequest__Finding_Source__c', 'NC');
                newNC.set('compliancequest__SQX_Finding__c', newFinding.Id)

            }
        }

        function initialize() {
            NC = mainRecord;

            recordAccess= sqx.dataStore.userRecordAccess;
            Finding = mainRecord.compliancequest__SQX_Findings__r[0];
            setupWIP(currentUser.Id);
            Finding.set('isHidden', {});
            Finding.set('isRequired', {});
            commandRules.enableVoid = NC.canVoid() && ncUpdateAccess;

            //do the initialization stuffs in here
            setupNCsState();
            kendo.bind($("#headerSection"), NC);
            kendo.bind($('#voidLink'), commandRules);
            
            if(window.initializeBody && $.isFunction(window.initializeBody)){
                window.initializeBody();
            }

        	//hack make the lot number an part in disposition work because these are not real list
            //but are virtual list
            //TODO: find better solution SQX-796

            if(NC != null && NC.compliancequest__SQX_Dispositions__r != null && NC.compliancequest__SQX_Dispositions__r.length > 0){

                sqx.remote.FilteredParts.read();
                sqx.remote.FilteredLots.read();

                var allDataMap = {},
                    allData = sqx.remote.FilteredParts.data(),
                    index, length;
                for(index = 0, length = allData.length; index < length; index++){
                    allDataMap[allData[index].Id] = allData[index];
                }


                for (index = 0, length = NC.compliancequest__SQX_Dispositions__r.length; index < length; index++) {
                    var disposition = NC.compliancequest__SQX_Dispositions__r[index];
                    if(!disposition.compliancequest__SQX_Part__r){
                        disposition.compliancequest__SQX_Part__r = allDataMap[disposition.compliancequest__SQX_Part__c];
                    }

                    if(!disposition.compliancequest__Lot_Number__r){
                        disposition.compliancequest__Lot_Number__r= disposition.compliancequest__Lot_Number__c;
                    }
                }
            }

            if (initialTab !== "") {
                    var tabToSelect = mainTS.tabGroup.find($('#' + initialTab)).eq(0);
                    if (tabToSelect.length == 1) {
                        mainTS.activateTab(tabToSelect);
                        
                        //expand the provided row in tab.
                        if(expandRecord !== ""){
                            
                            //locate the main tab
                            var contentIndex = tabToSelect.index(),
                                contentElem = null, tsGrids = null, tblIndex, tblLength,
                                matchingRecord = null, tableFor;
                                
                            if(contentIndex != -1){
                                //if content index is found
                                contentElem = $(mainTS.contentElement(contentIndex));
                                
                                //find all grids in tab strip
                                tsGrids = contentElem.find('[data-role="cqgrid"]');
                                
                                for(tblIndex = 0, tblLength = tsGrids.length; tblIndex < tblLength; tblIndex++){
                                    tableFor = tsGrids.eq(tblIndex).data('kendoCQGrid').dataSource.options.schema.model.prototype.sObjectName;
                                    if(tableFor === expandRecordType){
                                        tsGrids.eq(tblIndex).data('kendoCQGrid').expandRecord(expandRecord, true);
                                        break;
                                    }
                                }
                            }
                            
                        }
                    }
                }

                $("#listViewApprovedInvestigations").kendoListView({
                  dataSource: Finding.approvedInvestigations(),
                  template: kendo.template($("#approvedInvTemplate").html())
                });

            if (!NC.isClosed()) {
                    //todo:cannot defer init if grid count is to be displayed! Need to switch count getting count from ds without initializing grid
                    var container = sqx.common.isMobile() ? $('#mainTab').children("ul").data("kendoPanelBar") : $('#mainTab').data("kendoCQTabStrip");
                    container.remove($('#relatedCAPAsTab'));
                    //hack kendo bug does not recalc last tab when removed
                };
        }

        /**
        * this function initializes the state the NC is in.
        */
        function setupNCsState(){
            NC.state = {};
            var status = {};
            status.active = 'active';
            status.complete = 'complete';
            status.TBD = 'TBD';
            status.notRequired = 'notRequired';

            //when NC is in complete stage, set active
            //when NC is in close state, set complete
            NC.state.close= NC.isComplete() ? status.active
                            : NC.isClosed() ? status.complete
                            : status.TBD;
            
            //when NC is in draft stage, set active
            NC.state.create = NC.isDraft() ? status.active : status.complete; 
            
            //when NC is in triage state, set active
            NC.state.triage = NC.isTriage() ? status.active : !NC.isDraft() ? status.complete : status.TBD;
            
            
            /* 
            Containment 
            
                     /-------------------|-------------------\
                     |                                       |
                Has Been Submitted                    Has not been submitted
                     |                                       |
                     v                  -------------------------------         
                  complete              |                             |
                                     Is Not Required            Is Required
                                        |                             |
                                        v                     -------------------------------------
                                      not required            |                                   |
                                                             Is NC Open                           v
                                                              |                                  TBD
                                                     ----------------------
                                                     |                    |
                                                     v                    v
                                                    active              TBD

            */
            NC.state.contain =  NC.state.triage==status.complete && Finding.get('compliancequest__Has_Containment__c') ? status.complete
                                : NC.state.triage==status.complete && (!NC.isDraft() && !NC.isTriage()) && (!Finding.compliancequest__Containment_Required__c) ? status.notRequired
                                : (NC.state.close == status.complete || NC.isComplete()) ? ''
                                : NC.state.triage==status.complete && (!NC.isDraft() && !NC.isTriage()) && Finding.compliancequest__Containment_Required__c  ? status.active 
                                : status.TBD;
                                
            /* Disposition
               has been submitted -> complete
               is not required -> not required
               is required and containment has been submitted -> active
               is required and containment has not been submitted -> tbd
            */
            NC.state.disposition = dispositionComplete(NC) && !hasDispositionInApproval(NC) && allQuantityDisposed(Finding) ? status.complete
                                    : NC.state.triage==status.complete && !NC.compliancequest__Disposition_Required__c ? status.notRequired
                                    : (NC.state.close == status.complete || NC.isComplete()) ? ''
                                    : NC.state.triage==status.complete ? status.active
                                    : status.TBD;
                                
            
            /*Approve Disposition
                Not Required: contain is processed and approve disposition is not required
                Complete: has approved disposition
                active : disposition is complete
                TBD : is required and has no approved investigation
            */          
            NC.state.approveDisposition = NC.state.triage==status.complete && !NC.compliancequest__Disposition_Approval__c ? status.notRequired
                                            : hasApprovedDisposition(NC) && dispositionComplete(NC) ?status.complete
                                            : (NC.state.close == status.complete || NC.isComplete()) ? ''
                                            : NC.state.triage==status.complete && hasDispositionInApproval(NC) ? status.active
                                            : status.TBD;
            
            /* investigate
                Complete: Finding has_investigation==true if investigation is required
                NotRequired: Contain is Complete and Investigation is not required 
                Active: Containment is Complete or NotRequired
                TBD: above all are false                            
            */                                
            
            NC.state.investigate=NC.state.triage==status.complete && approveInvestigationComplete(Finding) && Finding.approvedInvestigations().view().length>0  ? status.complete
                                    :(NC.state.triage==status.complete && !Finding.get('compliancequest__Investigation_Required__c')) ? status.notRequired
                                    :(NC.state.close == status.complete || NC.isComplete()) ? ''
                                    :NC.state.triage==status.complete ? status.active 
                                    :status.TBD;
            //NC.state__investigate  = 'cqFlowStep TBD bottom';

            /* approveInvestigation

            */
            NC.state.approveInvestigation=NC.state.triage==status.complete && numberOfInvestigationsInApproval(Finding)>0 ? status.active
                                        :(NC.state.triage==status.complete && !Finding.get('compliancequest__Investigation_Approval__c')) ? status.notRequired
                                        : NC.state.triage==status.complete && (approveInvestigationComplete(Finding) &&  (Finding.get('compliancequest__Investigation_Approval__c') && numberOfInvestigationsInApproval(Finding)==0)) ? status.complete
                                        :(NC.state.close == status.complete || NC.isComplete()) ? ''
                                        : status.TBD;
            //NC.state__approveInvestigation = 'cqFlowStep TBD top';           

            NC.state__create = 'cqFlowStep top ' + NC.state.create;
            NC.state__triage = 'cqFlowStep top ' + NC.state.triage;
            NC.state__contain = 'cqFlowStep bottom ' + NC.state.contain;
            NC.state__disposition = 'cqFlowStep bottom ' + NC.state.disposition;
            NC.state__approveDisposition= 'cqFlowStep top ' + NC.state.approveDisposition;
            NC.state__investigate= 'cqFlowStep bottom ' + NC.state.investigate;
            NC.state__approveInvestigation= 'cqFlowStep top ' + NC.state.approveInvestigation;
            NC.state__close = 'cqFlowStep last top ' + NC.state.close;
        }

        //has at least one not rejected dispositon
        //
        function hasApprovedDisposition(NC)
        {
            var has_approved_disposition=false;
            var dispositions= NC.relatedList('compliancequest__SQX_Dispositions__r').view();
            for(i=0; i<dispositions.length; i++)
            {
                currentdisposition= dispositions[i];
                if(currentdisposition.compliancequest__Approval_Status__c=='Approved')
                {
                    has_approved_disposition=true;
                    break;
                }
            }
            return has_approved_disposition;
        }

        /*
        function dispositionComplete()
        Disposition Complete Means
        All approved disposition are complete
        all approved means: which have approval status - 'approved' or have approval status '-'
        */
        function dispositionComplete(NC)
        {
            var dispositions= NC.relatedList('compliancequest__SQX_Dispositions__r').view();
            
            var has_complete_disposition=false;
            for(i=0; i<dispositions.length; i++)
            {
                currentdisposition= dispositions[i];
                if(currentdisposition.compliancequest__Status__c=='Complete')
                {
                    var has_complete_disposition=true;
                    break;
                }
            }
            //return false if there are no complete dispositions
            if(!has_complete_disposition)
            {
                return false;
            }

            var disposition_complete=false;
            for(i=0; i<dispositions.length; i++)
            {
                currentdisposition= dispositions[i];
                if(currentdisposition.compliancequest__Approval_Status__c=='Approved' || currentdisposition.compliancequest__Approval_Status__c=='-')
                {
                    if(currentdisposition.compliancequest__Status__c=='Open')
                    {
                        var disposition_complete=false;
                        break;
                    }
                }
                var disposition_complete=true;
            }
            return disposition_complete;// false if there are no dispositions
        }

        /*
        function hasDispositionInApproval()
        has at least one approval in Approval
        */
        function hasDispositionInApproval(NC)
        {
            var has_disposition_InApproval=false;
            var dispositions= NC.relatedList('compliancequest__SQX_Dispositions__r').view();
            for(i=0; i<dispositions.length; i++)
            {
                currentdisposition= dispositions[i];
                if(currentdisposition.compliancequest__Status__c=='In Approval')
                {
                    has_disposition_InApproval=true;
                    break;
                }
            }
            return has_disposition_InApproval;
        }

        /*
        	check if all impacted products are disposed
        */
        function allQuantityDisposed(Finding)
		{
			var allQuantityDisposed= true;
			var impactedProductsCount= Finding.relatedList('compliancequest__SQX_Impacted_Products__r').data().length;
			for (var i=0; i<impactedProductsCount; i++){
				var currentTotal= 0,
					currentImpactedProduct= null,
					relatedDispositions= null;

				currentImpactedProduct= Finding.relatedList('compliancequest__SQX_Impacted_Products__r').data()[i];

				if(NC.relatedList('compliancequest__SQX_Dispositions__r')){
					relatedDispositions = NC.relatedList('compliancequest__SQX_Dispositions__r').data();
					//get all dispositions with part and lot number equal to current impacted products
					relatedDispositions = new kendo.data.DataSource({
				                                data: relatedDispositions,
				                                filter: {
				                                    logic: 'and',
				                                    filters : [
				                                        {field: 'compliancequest__SQX_Part__c', operator: 'eq', value: currentImpactedProduct.compliancequest__SQX_Impacted_Part__c},
				                                        {field: 'compliancequest__Lot_Number__c', operator: 'eq', value: currentImpactedProduct.compliancequest__Lot_Number__c},
				                                        {field: 'compliancequest__Status__c', operator: 'eq', value: 'Complete'}
				                                    ]
				                                }
				                            });

				    relatedDispositions.read();

				    for(var idx = 0, length = relatedDispositions.view().length; idx < length; idx++){
				        currentTotal += relatedDispositions.view()[idx].compliancequest__Disposition_Quantity__c;                              
				    }

				    //return false if total is not equal to local quantity
				    if(currentTotal!=currentImpactedProduct.compliancequest__Lot_Quantity__c){
				    	allQuantityDisposed= false;
				    	break;
				    }
				    else{
				    allQuantityDisposed=true;
					}
				}
			}
			return allQuantityDisposed; 
		} 

        function approveInvestigationComplete(Finding)
        {
            complete= true;
            if(Finding.get('compliancequest__Investigation_Required__c'))
            {
                if(!Finding.get('compliancequest__Has_Investigation__c'))
                    complete=false;
            }
            return complete;
        }

        function numberOfInvestigationsInApproval(Finding)
        {
            var numberOfInvestigationsInApproval= 0;
            var responses= Finding.relatedList('compliancequest__SQX_Responses__r').view();
            for(var i=0; i<responses.length; i++)
            {
                var currentResponse=responses[i];
                if(currentResponse.compliancequest__Approval_Status__c=='Pending')
                {
                    numberOfInvestigationsInApproval+=currentResponse.compliancequest__Number_of_Investigations__c;
                }
            }

            return numberOfInvestigationsInApproval;
        }

        function preAdjustSchema(){
        	securityRules();
        	//Enforcing Date Validation in NC
            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Occurrence_Date__c.additionalInfo.noFutureDate = true;
			SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Due_Date_Disposition__c.additionalInfo.min = 'compliancequest__Occurrence_Date__c';
        	SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Due_Date_Disposition__c.additionalInfo.minMsg = 'Due date can\'t be less than occurence date';
        	
        	SQXSchema.compliancequest__SQX_Finding__c.Occurrence_Date__c= function(){ return NC.get('compliancequest__Occurrence_Date__c'); };//created a virtual occurrence date field in Finding, to get the NC occurence date in Finding
    		
    		SQXSchema.compliancequest__SQX_Finding__c.fields.compliancequest__Due_Date_Containment__c.additionalInfo.min
    		= SQXSchema.compliancequest__SQX_Finding__c.fields.compliancequest__Due_Date_Investigation__c.additionalInfo.min
    		= 'occurence_date__c'; //this ensures that min date is above Occurrence Date
        		
       		SQXSchema.compliancequest__SQX_Finding__c.fields.compliancequest__Due_Date_Response__c.additionalInfo.minMsg
    		= SQXSchema.compliancequest__SQX_Finding__c.fields.compliancequest__Due_Date_Containment__c.additionalInfo.minMsg
    		= SQXSchema.compliancequest__SQX_Finding__c.fields.compliancequest__Due_Date_Investigation__c.additionalInfo.minMsg
    		= 'Due date can\'t be less than occurence date';	



            SQXSchema.compliancequest__SQX_Finding__c.fields.compliancequest__Title__c.validation.required=true;


            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__SQX_Part__c.additionalInfo.referenceTo = 'FilteredParts';
                    


            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Lot_Ser_Number__c.type = "reference";
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Lot_Ser_Number__c.additionalInfo.referenceTo = 'FilteredLots';
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Lot_Ser_Number__c.additionalInfo.dependsOn = 'compliancequest__SQX_Part__c'
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Lot_Ser_Number__c.additionalInfo.dependsOnField = 'compliancequest__SQX_Part__c';

            SQXSchema.compliancequest__SQX_Impacted_Product__c.fields.compliancequest__Lot_Quantity__c.additionalInfo.minVal = 0.01;
                    

            sqx.remote.FilteredParts = new kendo.data.DataSource({
                        transport: {
                            read: function(options){
                                var allParts = [],
                                    includedParts = {},
                                    impactedProducts = Finding.relatedList('compliancequest__SQX_Impacted_Products__r').data(),
                                    rIdx = 0;

                                for(; rIdx < impactedProducts.length; rIdx++){
                                    if(impactedProducts[rIdx].compliancequest__SQX_Impacted_Part__c === undefined 
                                        || impactedProducts[rIdx].compliancequest__SQX_Impacted_Part__r === undefined
                                        || includedParts[impactedProducts[rIdx].compliancequest__SQX_Impacted_Part__c] !== undefined)
                                        continue;

                                    allParts.push(impactedProducts[rIdx].compliancequest__SQX_Impacted_Part__r);
                                    includedParts[impactedProducts[rIdx].compliancequest__SQX_Impacted_Part__c] = true;
                                }

                                options.success(allParts);
                            }
                        },
                        serverFiltering: false,
                        sort: { field: 'Name', dir: 'asc' }
                    });

            sqx.remote.FilteredLots = new kendo.data.DataSource({
                        transport: {
                            read: function(options){
                                var that = sqx.remote.FilteredLots;
                                if(that.options.allData === undefined){

                                    var allLots = [],
                                        includedLots = {},
                                        impactedProducts = Finding.relatedList('compliancequest__SQX_Impacted_Products__r').data(),
                                        rIdx = 0;

                                    for(; rIdx < impactedProducts.length; rIdx++){

                                        if(impactedProducts[rIdx].compliancequest__Lot_Number__c === undefined 
                                            || impactedProducts[rIdx].compliancequest__SQX_Impacted_Part__c === undefined
                                            || includedLots[impactedProducts[rIdx].compliancequest__Lot_Number__c + impactedProducts[rIdx].compliancequest__SQX_Impacted_Part__c] !== undefined)
                                            continue;

                                        allLots.push({Id: impactedProducts[rIdx].compliancequest__Lot_Number__c, Name: impactedProducts[rIdx].compliancequest__Lot_Number__c, compliancequest__SQX_Part__c : impactedProducts[rIdx].compliancequest__SQX_Impacted_Part__c});
                                        includedLots[impactedProducts[rIdx].compliancequest__Lot_Number__c + impactedProducts[rIdx].compliancequest__SQX_Impacted_Part__c] = true;
                                    }

                                    that.options.allData = new kendo.data.DataSource({
                                        id: 'Id',
                                        data: allLots,
                                        schema : {
                                            Id : {editable: false}
                                        }
                                    });

                                    that.options.allData.read();

                                }

                                that.options.allData.filter(options.data.filter);
                                
                                options.success(that.options.allData.view());
                                
                            }
                        },
                        serverFiltering : false,
                        sort: { field: 'Name', dir: 'asc' }
                    });

            SQXSchema.compliancequest__SQX_Impacted_Product__c.fields.compliancequest__SQX_Finding__c.editable = true;

            SQXSchema.compliancequest__SQX_Impacted_Product__c.fields.compliancequest__Lot_Number__c.validation.required = true;
            SQXSchema.compliancequest__SQX_Impacted_Product__c.fields.compliancequest__Lot_Quantity__c.validation.required = true; 
            SQXSchema.compliancequest__SQX_Nonconformance__c.childRelationships.push(
                {
                    "relationshipName": "compliancequest__SQX_Dispositions__r",
                    "field": "compliancequest__SQX_Nonconformance__c",
                    "childSObject": "compliancequest__SQX_Disposition__c"
                }
            );

            SQXSchema.compliancequest__SQX_Disposition__c.fields.compliancequest__Status__c.editable = false;
            SQXSchema.compliancequest__SQX_Disposition__c.fields.compliancequest__Approval_Status__c.editable = false;
            SQXSchema.compliancequest__SQX_Disposition__c.fields.compliancequest__Disposition_Type__c.nullable = true;
            SQXSchema.compliancequest__SQX_Disposition__c.fields.compliancequest__Disposition_Type__c.validation.required = true;

            //adjust schema of individual entities
            



            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Number_of_defects__c.additionalInfo.minVal=0;
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Cost__c.additionalInfo.minVal=0;
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Defective_Quantity__c.additionalInfo.minVal=0.01;
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Defect_Category__c.validation.required=true;
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Defect_Code__c.validation.required=true;
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Lot_Ser_Number__c.validation.required=true;
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Severity__c.nullable=true;
            
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__SQX_Finding__c.editable = true;
            
            //SQXSchema.compliancequest__SQX_Containment__c.fields.compliancequest__Status__c.nullable = true;
            SQXSchema.compliancequest__SQX_Containment__c.fields.compliancequest__Status__c.editable = false;
            SQXSchema.compliancequest__SQX_Containment__c.fields.compliancequest__Status__c.defaultValue = 'Draft';

            //SQXSchema.compliancequest__SQX_Investigation__c.fields.compliancequest__Status__c.nullable = true;
            SQXSchema.compliancequest__SQX_Investigation__c.fields.compliancequest__Status__c.editable = false;
            SQXSchema.compliancequest__SQX_Investigation__c.fields.compliancequest__Status__c.defaultValue = 'Draft';

            //SQXSchema.compliancequest__SQX_Investigation__c.fields.compliancequest__Approval_Status__c.nullable = true;
            SQXSchema.compliancequest__SQX_Investigation__c.fields.compliancequest__Approval_Status__c.editable = false;
            SQXSchema.compliancequest__SQX_Investigation__c.fields.compliancequest__Approval_Status__c.defaultValue = '';

            //SQXSchema.compliancequest__SQX_Disposition__c.fields.compliancequest__Status__c.nullable = true;
            SQXSchema.compliancequest__SQX_Disposition__c.fields.compliancequest__Status__c.editable = false;
            SQXSchema.compliancequest__SQX_Disposition__c.fields.compliancequest__Status__c.defaultValue = 'Draft';

            //SQXSchema.compliancequest__SQX_Disposition__c.fields.compliancequest__Approval_Status__c.nullable = true;
            SQXSchema.compliancequest__SQX_Disposition__c.fields.compliancequest__Approval_Status__c.editable = false;
            SQXSchema.compliancequest__SQX_Disposition__c.fields.compliancequest__Approval_Status__c.defaultValue = '';

            SQXSchema.compliancequest__SQX_Containment__c.canEdit = function(){return (this.rowEditable?this.rowEditable():true) && this.options.editable;}
            SQXSchema.compliancequest__SQX_Investigation__c.canEdit = function(){return (this.rowEditable?this.rowEditable():true) && this.options.editable;}

            var rootCauses = {
                childSObject: "compliancequest__SQX_Root_Cause__c", field: "compliancequest__SQX_Investigation__c", parentField: "compliancequest__SQX_Investigation__c",
                relationshipName: "compliancequest__rootCauses__r"
            };

            var investigationTool = {
                childSObject: "compliancequest__SQX_Investigation_Tool__c", field: "compliancequest__SQX_Investigation__c", parentField: "compliancequest__SQX_Investigation__c",
                relationshipName: "compliancequest__investigationTools__r"
            };

            var actionPlans = {
                childSObject: "compliancequest__SQX_Action_Plan__c", field: "compliancequest__SQX_Investigation__c", parentField: "compliancequest__SQX_Investigation__c",
                relationshipName: "compliancequest__actionPlans__r"
            };

            var investigationAttachments = {
                childSObject: "Attachment", field: "ParentId", parentField: "compliancequest__SQX_Investigation__c",
                relationshipName: "compliancequest__investigationAttachments__r"
            }

            var containmentAttachments = {
                childSObject: "Attachment", field: "ParentId", parentField: "compliancequest__SQX_Containment__c",
                relationshipName: "compliancequest__containmentAttachments__r"
            }

            var dispositionAttachments = {
                childSObject: "Attachment", field: "ParentId", parentField: "compliancequest__SQX_Disposition__c",
                relationshipName: "compliancequest__dispositionAttachments__r"
            }

            SQXSchema.compliancequest__SQX_Response_Inclusion__c.childRelationships.push(rootCauses);

            SQXSchema.compliancequest__SQX_Response_Inclusion__c.childRelationships.push(investigationTool);

            SQXSchema.compliancequest__SQX_Response_Inclusion__c.childRelationships.push(investigationAttachments);

            SQXSchema.compliancequest__SQX_Response_Inclusion__c.childRelationships.push(actionPlans);

            SQXSchema.compliancequest__SQX_Response_Inclusion__c.childRelationships.push(containmentAttachments);

            SQXSchema.compliancequest__SQX_Response_Inclusion__c.childRelationships.push(dispositionAttachments);
            
            SQXSchema.compliancequest__SQX_Finding_Response__c.hasContainments = function () {
                    return this.compliancequest__Number_of_Containments__c > 0 ? true : false;
                }

            SQXSchema.compliancequest__SQX_Finding_Response__c.hasInvestigations = function () {
                return this.compliancequest__Number_of_Investigations__c > 0 ? true : false;
            }

            SQXSchema.compliancequest__SQX_Finding_Response__c.hasDispositions = function() {
                return this.compliancequest__Number_of_Dispositions__c > 0 ? true : false;
            }

            
            
            SQXSchema.compliancequest__SQX_Finding_Response__c.ApprovedOn = function(){
                if(this.compliancequest__Status__c == 'Completed' &&
                    this.compliancequest__Approval_Status__c != '-' ){       
                    return kendo.toString(kendo.parseDate(this.compliancequest__Published_Date__c), CQDateFormat);      
                }  
                return '-';
            }
            
            SQXSchema.compliancequest__SQX_Finding_Response__c.containments = function () {
                    var ds = new CQDataSource({ data: this.compliancequest__SQX_Response_Inclusions__r, schema: this.relatedList('compliancequest__SQX_Response_Inclusions__r').options.schema, filter: { field: 'compliancequest__Type__c', operator: 'eq', value: 'Containment' } });
                    ds.fetch();
                    var dsview = ds.view();
                    if (dsview.length > 0) {
                        var allContainments = sqx.dataStore.getObjectsWithType('compliancequest__SQX_Containment__c');

                        if (allContainments != null) {
                            for (var i = 0; i < dsview.length; i++) {
                                var currentds = dsview[i];
                                for (var j = 0; j < allContainments.length; j++) {
                                    if (allContainments[j].Id == currentds.compliancequest__SQX_Containment__c)
                                        currentds.compliancequest__SQX_Containment__r = allContainments[j];
                                }

                            }
                        }
                    }

                    return ds;
                }

                SQXSchema.compliancequest__SQX_Finding_Response__c.investigations = function () {
                    var ds = new CQDataSource({ data: this.compliancequest__SQX_Response_Inclusions__r, schema: this.relatedList('compliancequest__SQX_Response_Inclusions__r').options.schema, filter: { field: 'compliancequest__Type__c', operator: 'eq', value: 'Investigation' } });

                    ds.fetch();
                    var dsview = ds.view();
                    Finding.compliancequest__SQX_Investigations__r;//initailize for relatedList
                    var allInvestigations = sqx.dataStore.getObjectsWithType('compliancequest__SQX_Investigation__c');

                    if (allInvestigations != null) {
                        for (var i = 0; i < dsview.length; i++) {
                            var currentds = dsview[i];
                            for (var j = 0; j < allInvestigations.length; j++) {
                                if (allInvestigations[j].Id == currentds.compliancequest__SQX_Investigation__c)
                                    currentds.compliancequest__SQX_Investigation__r = allInvestigations[j];
                            }

                        }
                    }

                    return ds;
                }

                SQXSchema.compliancequest__SQX_Finding_Response__c.dispositions = function () {
                    var ds = new CQDataSource({ data: this.compliancequest__SQX_Response_Inclusions__r, schema: this.relatedList('compliancequest__SQX_Response_Inclusions__r').options.schema, filter: { field: 'compliancequest__Type__c', operator: 'eq', value: 'Disposition' } });

                    ds.fetch();
                    var dsview = ds.view();
                    NC.compliancequest__SQX_Dispostions__r;//initailize for relatedList
                    var allDispositions = sqx.dataStore.getObjectsWithType('compliancequest__SQX_Disposition__c');

                    if (allDispositions != null) {
                        for (var i = 0; i < dsview.length; i++) {
                            var currentds = dsview[i];
                            for (var j = 0; j < allDispositions.length; j++) {
                                if (allDispositions[j].Id == currentds.compliancequest__SQX_Disposition__c)
                                    currentds.compliancequest__SQX_Disposition__r = allDispositions[j];
                            }

                        }
                    }

                    return ds;
                }

                SQXSchema.ProcessInstanceHistory.canApprove = function(){
                    if(this.StepStatus == 'Pending')
                        return true;
                    
                    return false;
                }
                
                SQXSchema.ProcessInstanceHistory.canReject = function(){
                    if(this.StepStatus == 'Pending')
                        return true;
                    
                    return false;
                }

               //computed status represents the status of the approval request in whole
                //i.e. since SF only records approved or rejected but our system supports partial approval
                //the status is recalculated to get the actual status
                SQXSchema.ProcessInstanceHistory.ComputedStatus = function() {
                    var response = null, processInstance = null, inclusions, inclusionApprovals,
                        PARTIALLY_APPROVED = 'Partially Approved',
                        rejectedCount;
                    
                    //for some reason the parentModel doesn't work and is set to the same parent for all object
                    processInstance = sqx.dataStore.getObjectWithIdFor('ProcessInstance', this.ProcessInstanceId);
                    response = sqx.dataStore.getObjectWithIdFor('compliancequest__SQX_Finding_Response__c', processInstance.TargetObjectId);
                    
                    //if the response's approval is not pending and we can find a response compute the status
                    if(response != null && this.StepStatus != 'Pending'){
                        inclusions = response.compliancequest__SQX_Response_Inclusions__r;
                        rejectedCount = 0;
                        for(var i = 0, incCount = inclusions.length; i < incCount; i++){
                            //for each inclusion check if the approval inclusion is partially approved.
                            inclusionApprovals = inclusions[i].compliancequest__SQX_Response_Inclusion_Approvals__r;
                            
                            for(var j = 0, appCount = inclusionApprovals.length; j < appCount; j++){
                                if(inclusionApprovals[j].Name == 'Rejected' &&
                                    inclusionApprovals[j].compliancequest__SQX_Actual_Approver__c == this.OriginalActorId){
                                    
                                    rejectedCount++;
                                    break;
                                }
                                
                            }
                        }
                        
                        
                        if(rejectedCount != 0 && rejectedCount < inclusions.length)
                            return PARTIALLY_APPROVED;
                    }
                    
                    return this.StepStatus;
                }

                SQXSchema.compliancequest__SQX_Finding_Response__c.activeProcessSteps = function(){
                    //TODO: duplicate evaluation to be prevented
                    var pendingApprovalCount = 0,
                        processInstances = this.ProcessInstances,
                        length = 0, index = 0,
                        pendingProcessInstance = null,
                        workItems, pendingApprovalFromCurrentUser = false;
                    
                        for(index = 0, length = processInstances.length; index < length; index++){
                            if(processInstances[index].Status == 'Pending'){
                                pendingProcessInstance = processInstances[index];
                                break;
                            }
                        }
                        
                        if(pendingProcessInstance != null){
                           return new CQDataSource({
                               data: pendingProcessInstance.StepsAndWorkitems,
                               schema: pendingProcessInstance.relatedList('StepsAndWorkitems').options.schema,
                               filter: {field: 'StepStatus', operator: 'neq', value: 'Started'}
                           });
                        }
                        else if(processInstances.length > 0){
                            return new CQDataSource({
                               data: processInstances[0].StepsAndWorkitems, //the last created one
                               schema: processInstances[0].relatedList('StepsAndWorkitems').options.schema,
                               filter: {field: 'StepStatus', operator: 'neq', value: 'Started'}
                           });
                            

                        }
                    return new CQDataSource({
                           data: [],
                           schema: {model : SQXSchema.ProcessInstanceHistory }
                           });
                    
                }

                SQXSchema.compliancequest__SQX_Finding_Response__c.ApprovedOn = function(){
                    if(this.compliancequest__Status__c == 'Completed' &&
                        this.compliancequest__Approval_Status__c != '-' ){
                        
                        var maxDate = null,
                            processes = this.ProcessInstances || [],
                            stepAndWorkitems = null,
                            currentDate;
                        
                        for(var i = 0, procCount = processes.length; i < procCount; i++){
                            stepAndWorkitems = processes[i].StepsAndWorkitems || [];
                            
                            for(var j = 0, wiCount = stepAndWorkitems.length; j < wiCount; j++){
                                currentDate = kendo.parseDate(stepAndWorkitems[j].CreatedDate).getTime();
                                if(maxDate < currentDate){
                                    maxDate = currentDate;
                                }
                            }
                            
                            if(maxDate != null){
                                return kendo.toString(new Date(maxDate), CQDateFormat);
                            }
                        }
           
                    }
                    
                    return '-';
                }
                
                SQXSchema.ProcessInstanceHistory.ApprovedOn = function() {
                    if(this.StepStatus != 'Pending'){
                        return kendo.toString(kendo.parseDate(this.CreatedDate), CQDateFormat);
                    }
                    
                    return '';
                }
                
            SQXSchema.compliancequest__SQX_Response_Inclusion__c.ApprovalRemark = function(){
                    var aggRemark = [],
                        idx = 0,
                        allItems = this.compliancequest__SQX_Response_Inclusion_Approvals__r,
                        length = allItems.length,
                        template = kendo.template("<div class='cq-approval'><div class='status'>#: Name #</div><div class='approver'>#: compliancequest__Approver_Name__c ## if (compliancequest__SQX_Approving_User__c != compliancequest__SQX_Actual_Approver__c) { ##:' (On behalf of ' + compliancequest__Actual_Approver_Name__c + ')' ## } #</div><div class='remark'>#: compliancequest__Approval_Remark__c || '' #</div></div>");



                    for(; idx < length; idx++){
                        aggRemark.push(template(allItems[idx]));
                    }


                    return aggRemark.join(''); //separate into new lines
                }

            SQXSchema.compliancequest__SQX_Response_Inclusion__c.ApprovalStatus = function(){

                    if(this.compliancequest__Is_Approved__c === 0)
                        return 'Rejected';

                    var response = sqx.dataStore.getObjectWithIdFor('compliancequest__SQX_Finding_Response__c', this.compliancequest__SQX_Response__c);
                    if(response && response.compliancequest__Status__c !== 'Completed')
                        return 'Pending';

                    
                    if(this.compliancequest__Is_Approved__c === 1)
                        return 'Approved';

                    return '-';
                } 

             var allInvestigationTools = JSON.parse($('<div/>').html($("#investigationToolData").text()).text());
                var validInvestigationTools = [];
                for (var i = 0, length = allInvestigationTools.length; i < length; i++) {
                    validInvestigationTools.push({
                        text: allInvestigationTools[i].Name,
                        value: allInvestigationTools[i].Id
                    });
                }

            SQXSchema.compliancequest__SQX_Investigation_Tool__c.fields.compliancequest__Investigation_Tool_Method_Used__c.type = 'values';
            SQXSchema.compliancequest__SQX_Investigation_Tool__c.fields.compliancequest__Investigation_Tool_Method_Used__c.additionalInfo.validValues = validInvestigationTools;
            SQXSchema.compliancequest__SQX_Investigation_Tool__c.fields.compliancequest__Investigation_Tool_Method_Used__c.nullable = true;

            var allRootCausesCodes = JSON.parse($('<div/>').html($("#rootCausesData").text()).text());
            var validRootCauses = [];

            for (var i = 0, length = allRootCausesCodes.length; i < length; i++) {
                validRootCauses.push({
                    text: allRootCausesCodes[i].Name,
                    value: allRootCausesCodes[i].Id
                });
            }

            SQXSchema.compliancequest__SQX_Root_Cause__c.fields.compliancequest__SQX_Root_Cause_Code__c.type = 'values';
            SQXSchema.compliancequest__SQX_Root_Cause__c.fields.compliancequest__SQX_Root_Cause_Code__c.additionalInfo.validValues = validRootCauses;
            SQXSchema.compliancequest__SQX_Root_Cause__c.fields.compliancequest__SQX_Root_Cause_Code__c.nullable = true;
            SQXSchema.compliancequest__SQX_Root_Cause__c.fields.compliancequest__Category__c.nullable = true;
            
            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.OwnerId.name = 'Owner';

            //SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Lot_Quantity__c = {validation: {required : true}, name: 'Lot Quantity', type: "number", editable: true };
            //SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Lot_Quantity__c.additionalInfo =  {defaultvalue: "0", apiname: "compliancequest__Lot_Quantity__c", scale: 2, minVal: 0.01};
            //SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Defective_Quantity__c.additionalInfo.max = 'compliancequest__Lot_Quantity__c'; 
            //SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__Defective_Quantity__c.additionalInfo.maxMsg = 'Defective quantity can not be more than lot quantity'; 
            
            
            //department is a text field, change it to picklist 
            var deptList = $.parseJSON($("<div />").html($("#departmentDataJSON").html()).text()),
                idx,
                length,
                list;
            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Department__c.type = "values";
            list = [];
            for(var idx = 0, length = deptList.length; idx < length; idx++){
                list.push({text: deptList[idx], value: deptList[idx]}); 
            }
            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Department__c.additionalInfo.validValues = list;
            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Close_Date__c.editable = false;
            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Close_Date__c.nullable = true;

            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Open_Date__c.editable = false;
            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Open_Date__c.nullable = true;

            
            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Completion_Date_Disposition__c.editable = false;
            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Completion_Date_Disposition__c.nullable = true;

            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Type__c.validation.required = true;
            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__Type_Of_Issue__c.validation.required = true;

            SQXSchema.compliancequest__SQX_Nonconformance__c.fields.compliancequest__CAPA__c.additionalInfo.trackChanges = false;
            

            SQXSchema.compliancequest__SQX_Finding__c.fields.compliancequest__Risk_Level__c.additionalInfo.trackChanges = false;
            SQXSchema.compliancequest__SQX_Finding__c.fields.compliancequest__Risk_Level__c.editable = true;


            //turn reference with reference to support data into values here
            SQXSchema.compliancequest__SQX_Finding__c.riskLevelColor = function () {
                var newRiskLevel = (this.get('compliancequest__Probability__c') ? parseInt(this.get('compliancequest__Probability__c')) : 0) * (this.get('compliancequest__Severity__c') ? parseInt(this.get('compliancequest__Severity__c')) : 0);
                var newColor = { r: 255, g: 255, b: 0 }; //start with middle color yellow, decrease green or red based on direction slightly skewed to red color instead of 12.5
                var skew = 10;
                this.set('compliancequest__Risk_Level__c', newRiskLevel);
                newRiskLevel > skew ? newColor.g = parseInt(255 - (Math.abs(newRiskLevel - skew) * 255 / skew)) : newColor.r = parseInt(255 - (Math.abs(newRiskLevel - skew) * 255 / skew));
                return newRiskLevel > 0 ? 'rgb(' + newColor.r + ',' + newColor.g + ',' + newColor.b + ')' : 'inherit';
            }

            SQXSchema.compliancequest__SQX_Defect__c.canEdit= SQXSchema.compliancequest__SQX_Defect__c.canDelete= 
                SQXSchema.compliancequest__SQX_Impacted_Site__c.canEdit= SQXSchema.compliancequest__SQX_Impacted_Site__c.canDelete=
                function(){return isNewRecord || mainRecord.isDraft() || mainRecord.isTriage() || mainRecord.isOpen()};
            
            var customerCorrections = window.customerCorrections || undefined;
            
            for (var objectType in SQXSchema) {
                if(customerCorrections){
                    if (customerCorrections[objectType] !== undefined) {
                        customerCorrections[objectType](SQXSchema[objectType]);
                    }
                }
            }


             SQXSchema.compliancequest__SQX_Finding__c.approvedInvestigations = function () {
                    var ds = this.relatedList('compliancequest__SQX_Approved_Investigations__r');
                    ds.fetch();

                    var dsview = ds.view();
                    if(dsview.length > 0){
                        var allInvestigations = sqx.dataStore.getObjectsWithType('compliancequest__SQX_Investigation__c');

                        if(allInvestigations!=null){
                            for (var i = 0; i <dsview.length; i++) {
                                var currentds = dsview[i];
                                for (var j = 0; j < allInvestigations.length; j++) {
                                    if (allInvestigations[j].Id == currentds.compliancequest__SQX_Investigation__c)
                                        currentds.compliancequest__SQX_Investigation__r = allInvestigations[j];
                                }

                            }
                        }
                    }

                    return ds;
                }

                SQXSchema.compliancequest__SQX_Finding__c.approvedRootCauses = function () {
                    var ds=  new CQDataSource({ data: this.compliancequest__SQX_Approved_Root_Causes__r, schema: this.relatedList('compliancequest__SQX_Approved_Root_Causes__r').options.schema });

                    ds.fetch();

                    var dsview = ds.view();
                    if(dsview.length > 0){
                        var allRootCauses = sqx.dataStore.getObjectsWithType('compliancequest__SQX_Root_Cause__c');

                        if(allRootCauses!=null){
                            for (var i = 0; i <dsview.length; i++) {
                                var currentds = dsview[i];
                                for (var j = 0; j < allRootCauses.length; j++) {
                                    if (allRootCauses[j].Id == currentds.compliancequest__SQX_Root_Cause__c)
                                        currentds.compliancequest__SQX_Root_Cause__r = allRootCauses[j];
                                }

                            }
                        }
                    }

                    return ds;
                }

        }

        function approvedActionPlans(Finding){
           var approvedInvestigations= Finding.approvedInvestigations();
           var ds=  new CQDataSource({ schema: {model: SQXSchema.compliancequest__SQX_Action_Plan__c} });

           var allActionPlans=sqx.dataStore.getObjectsWithType('compliancequest__SQX_Action_Plan__c');
           if(allActionPlans!=null)
           {
             for (i=0; i<approvedInvestigations.view().length;i++)
             {
                currentApprovedInvestigation= approvedInvestigations.view()[i];
                for(j=0;j<allActionPlans.length;j++)
                {
                  if(allActionPlans[j].compliancequest__SQX_Investigation__c==currentApprovedInvestigation.compliancequest__SQX_Investigation__c)
                  {
                    ds.add(allActionPlans[j]);
                  }
                }                 
             }
          }
           return ds;
        }

        function postAdjustSchema(){
            SQXSchema.compliancequest__SQX_Defect__c.fields.compliancequest__SQX_Defect_Code__c.additionalInfo.map.push({ "source": "Name", "target": "compliancequest__Defect_Code__c" }, { "source": "compliancequest__Defect_Category__c", "target": "compliancequest__Defect_Category__c" });
            
            
            SQXSchema.compliancequest__SQX_Nonconformance__c.isDraft = function() {return this.compliancequest__Status__c == 'Draft'; } ;
            SQXSchema.compliancequest__SQX_Nonconformance__c.isTriage = function() {return this.compliancequest__Status__c == 'Triage'; }; 
            SQXSchema.compliancequest__SQX_Nonconformance__c.isOpen = function() {return this.compliancequest__Status__c == 'Open'; } ;
            SQXSchema.compliancequest__SQX_Nonconformance__c.isComplete = function() {return this.compliancequest__Status__c == 'Complete'; } ;
            SQXSchema.compliancequest__SQX_Nonconformance__c.isClosed = function() {return this.compliancequest__Status__c == 'Closed'; } ;

            SQXSchema.compliancequest__SQX_Nonconformance__c.canVoid = function() {return this.isExistingObject() && !this.isClosed(); };
            

            SQXSchema.compliancequest__SQX_Finding__c.isClosed = function() {return this.compliancequest__Status__c == 'Closed'; } ;
        }

        function securityRules(){

            /*  NC is closed, nothing should be editable
                NC is complete, Only Note and Attachment is editable
                and closure comment, resolution, rating, related CAPA are editable   
            */

            SQXSchema.compliancequest__SQX_Finding__c.canAddChildren = function(childName){return hasRecordEditAccess(this) && (!NC.isClosed()&& !NC.isComplete());};
            SQXSchema.compliancequest__SQX_Nonconformance__c.canAddChildren = 
            function(childName){
                if(childName== undefined)
                        return false;
                if(childName == 'Note' || childName == 'Attachment')
                        return hasRecordEditAccess(this) && !(this.isClosed());
                return hasRecordEditAccess(this) && (!NC.isClosed()&& !NC.isComplete());
            };

            SQXSchema.compliancequest__SQX_Nonconformance__c.canDelete=function(){return hasRecordDeleteAccess(this) && (!NC.isClosed()&& !NC.isComplete());};
            SQXSchema.compliancequest__SQX_Nonconformance__c.canEdit=function(){return hasRecordEditAccess(this) && (!NC.isClosed());};

            SQXSchema.compliancequest__SQX_CAPA__c.canDelete=function(){return hasRecordDeleteAccess(this) &&  (!NC.isClosed()&& !NC.isComplete());};
            SQXSchema.compliancequest__SQX_CAPA__c.canEdit=function(){return hasRecordEditAccess(this) && (!NC.isClosed()&& !NC.isComplete());};

            SQXSchema.compliancequest__SQX_Finding__c.canDelete=function(){return hasRecordDeleteAccess(this) && (!NC.isClosed()&& !NC.isComplete());};
            SQXSchema.compliancequest__SQX_Finding__c.canEdit=function(){return hasRecordEditAccess(this) && (!NC.isClosed());};

            SQXSchema.compliancequest__SQX_Finding__c.fields.compliancequest__Completion_Date_Containment__c.editable= false;
            SQXSchema.compliancequest__SQX_Finding__c.fields.compliancequest__Completion_Date_Investigation__c.editable= false;

            SQXSchema.Note.canDelete=function(){return hasRecordDeleteAccess(this) && !NC.isClosed();};
            SQXSchema.Note.canEdit=function(){return hasRecordEditAccess(this) && !NC.isClosed();};

            SQXSchema.Attachment.canDelete=function(){return hasRecordDeleteAccess(this) && !NC.isClosed();};
            SQXSchema.Attachment.canEdit=function(){return hasRecordEditAccess(this) && !NC.isClosed();};

            /*
                Finding --> Closure_Comments__c
                            Rating__c
                NC  --> CAPA__c
                    --> Resolution__c
                Lock all fields except these
            */
            var unLockFindingFields=['compliancequest__Closure_Comments__c','compliancequest__Rating__c'];
            for (var field in SQXSchema.compliancequest__SQX_Finding__c.fields)
            {   
                if(unLockFindingFields.indexOf(field)==-1 && SQXSchema.compliancequest__SQX_Finding__c.fields[field].editable )//if not in unLockFindingFields array
                {
                    SQXSchema.compliancequest__SQX_Finding__c.fields[field].editable=function(){return isNewRecord || !NC.isComplete()};
                }   
            }

            var unLockNCFields=['compliancequest__CAPA__c','compliancequest__Resolution__c'];
            for (var field in SQXSchema.compliancequest__SQX_Nonconformance__c.fields)
            {   
                if(unLockNCFields.indexOf(field)==-1 && SQXSchema.compliancequest__SQX_Nonconformance__c.fields[field].editable )//if not in unLockFindingFields array
                {
                    SQXSchema.compliancequest__SQX_Nonconformance__c.fields[field].editable=function(){return isNewRecord || !NC.isComplete()};
                }   
            }
        }


        /*
        RecordAccess Defined   Id Present    Has Edit Access       Result
             F                      ?               ?                   T (Draft)
             T                      F               ?                   T (New object only in UI)
             T                      T               T                   T     
             T                      T               F                   F 
        */
        function hasRecordEditAccess(record){
                return (!(recordAccess && recordAccess[record.Id] ) || recordAccess[record.Id].HasEditAccess )
        }

        function hasRecordDeleteAccess(record){
                return (!(recordAccess && recordAccess[record.Id] ) || recordAccess[record.Id].HasDeleteAccess )
        }



        function syncBeforeSave() {
            NC.relatedList('compliancequest__SQX_Findings__r').sync();
        }

        function enableAttachment(data)
            {
                var parent= sqx.dataStore.getObjectWithId(data.ParentId);
                if(parent && parent.isLocked!=undefined && parent.isLocked())
                    return false;
                return true;
            }
    </script>
    

    
    <script type="text/javascript" src="{!URLFOR($Resource.cqUI, 'scripts/sqx/cq.min.js')}"></script>
    
    <!-- Data dumps begin -->
    
    <script type="text/x-json-data" id="completeDataJSON">{!HTMLEncode(completeDataJSON)}</script>
    <script type="text/x-json-data" id="changeSetDataJSON">{!HTMLEncode(changeSetDataJSON)}</script>
    <script type="text/x-json-data" id="departmentDataJSON">{!HTMLEncode(ncDepartments)}</script>
    <script type="text/x-json-data" id="investigationToolData">{!HTMLEncode(InvestigationTools)}</script>
    <script type="text/x-json-data" id="rootCausesData">{!HTMLEncode(RootCauses)}</script>
    
    <!-- Data dumps end -->

    <!-- Non-conformance Header Section Begins -->
    <div id="headerSection" class="cqHeaderBlock">
        <div class="cqRecordIdentifier">
            <span>NC</span>
            <h1 data-bind="text:Name"></h1>
        </div>
        
        <style>
            .cqFlowIndicator > table { width: 100%; }
            .cqFlowStep.bottom { height : 15px; }
            .cqFlowStep.top {height: 15px;}
        </style>
        
        <div id="flowIndicator" data-role="cqflowindicator" data-ordered-list="[ {name : 'create', text : 'Create'}, {name: 'triage',  text: 'Triage & Initiate'}, {name: 'contain', text: 'Contain'}, {name: 'disposition', text: 'Disposition' } , {name: 'approveDisposition', text: 'Approve Disposition'}, {name: 'investigate', text: 'Investigate'}, {name: 'approveInvestigation', text: 'Approve Investigation'}, {name: 'close', text: 'Close'}]" data-show-on-top="['close', 'create', 'approveInvestigation', 'approveImplementation', 'triage', 'approveDisposition']"></div>
        
        <div class="clearFix"></div>
        
        <div class="section3col" data-bind="visible:isExistingObject()">
            <div data-container="NC.compliancequest__Type__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.compliancequest__Open_Date__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.compliancequest__Status__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.OwnerId" data-role='cqcompositefield' data-read-only="true"></div>
            <div data-container="NC.compliancequest__Close_Date__c" data-read-only="true" data-role='cqcompositefield'></div>
            <div data-container="NC.compliancequest__Resolution__c" data-read-only="true" data-role='cqcompositefield'></div>
            
        </div>

        <div class="section3col" data-bind="visible:isExistingObject()">
        <div data-container="Finding.compliancequest__Title__c" data-read-only="true" data-role='cqcompositefield'></div>
        </div>

        <div class="clearFix"></div>
        
    </div>

    <script type="text/x-kendo-template" id="attachmentOnlyTemplate">
        <div data-role="cqtabstrip" data-collapsible="true" data-show-grid-title="true" data-show-grid-count="true" class="tabStrip">
            <ul>
                <li class="k-state-active" data-grid-sobject="Attachment">Attachments</li>
            </ul>
            <div>
                <div class="Attachment">
                    <div class="subGrid"
                         data-relatedlist="Attachments"
                         data-toolbar='[{"name" : "create"}]'
                         data-save="attachmentSaveCalled"
                         data-options='{"editable":{"mode":"popup","update":#= data.rowEditable ? data.rowEditable() : true#,"create":#= data.rowEditable ? data.rowEditable() : true #,"destroy":#= data.rowEditable ? data.rowEditable() : true #, "template": "#= getAttachmentTemplate(data) #" },"showTitle":false,"collapsible":false}'
                         data-columns='[
                                            {"title": "Actions", "command" : [{ "name": "edit", "text" : { "update": "Save"},"enable": "enableAttachment(data)" } , {"name":"destroy", "enable": "enableAttachment(data)"} ], "width": "100px"},
                                            {"field" : "Name", "template": "\\#= buildAttachmentViewLink(data) \\#"},
                                            {"field" : "Description"}
                                            ]'>
                    </div>
                </div>
            </div>
        </div>
    </script>
</apex:component>