.THIS .cq-user-profile-image {
    width: 64px;
    height: 64px;
}

.THIS .cq-personnel-image {
    top: -1.00rem;
    left: 0.2rem;
}
.THIS .cq-record-header {
    margin-bottom:7px;
}
.THIS .cq-records-list {
    margin-top:4px;
}