.THIS .slds-tile__detail.slds-list--horizontal li {
    margin-left:0px;
}

.THIS .cq-right {
    position: relative;
    left: 20px;
}


.THIS .cq-fixed {
    table-layout: fixed;
}


.THIS .cq-padding {
    padding-left: 2rem;
    min-height: calc(1.875rem + (1px * 2));
}